In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import openpyexcel
from openpyexcel import workbook, load_workbook
from openpyxl.worksheet.table import Table, TableStyleInfo
from openpyexcel.utils import get_column_letter
from itertools import islice
from os import listdir
import re
import csv
import datetime
import pickle

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 100)
pd.options.display.float_format = '{:.0f}'.format

In [3]:
company = pd.read_csv('CSV/company_ws.csv',index_col=0)
company

,Balance,Income,Cash
ADBE1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
ADBE2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
ADBE3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
ADBE4.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
ADBE5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_of_Inc,Consolidated_Statements_of_Cas
AME1.xlsx,Consolidated Balance Sheet,Consolidated Statement of Incom,Consolidated Statement of Cash
AME2.xlsx,Consolidated Balance Sheet,Consolidated Statement of Incom,Consolidated Statement of Cash
AME3.xlsx,Consolidated Balance Sheet,Consolidated Statement of Incom,Consolidated Statement of Cash
AME4.xlsx,Consolidated Balance Sheet,Consolidated Statement of Incom,Consolidated Statement of Cash
AME5.xlsx,Consolidated_Balance_Sheet,Consolidated_Statement_of_Inco,Consolidated_Statement_of_Cash
AMGN1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
AMGN2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
AMGN3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
AMGN4.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
AMGN5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_of_Inc,Consolidated_Statements_of_Cas
ANET1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
ANET2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
ANET3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
ANET4.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
ANET5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_of_Inc,Consolidated_Statements_of_Cas
BBY1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Earn,Consolidated Statements of Cash
BBY2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Earn,Consolidated Statements of Cash
BBY3.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF EARN,CONSOLIDATED STATEMENTS OF CASH
BBY4.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF EARN,CONSOLIDATED STATEMENTS OF CASH
BBY5.xlsx,CONSOLIDATED_BALANCE_SHEETS,CONSOLIDATED_STATEMENTS_OF_EAR,CONSOLIDATED_STATEMENTS_OF_CAS
BG1.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
BG2.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
BG3.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
BG4.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
BG5.xlsx,CONSOLIDATED_BALANCE_SHEETS,CONSOLIDATED_STATEMENTS_OF_INC,CONSOLIDATED_STATEMENTS_OF_CAS
BIIB1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
BIIB2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
BIIB3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
BIIB4.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
BIIB5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_of_Inc,Consolidated_Statements_of_Cas
BWA1.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
BWA2.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
CAT1.xlsx,Consolidated Financial Position,Consolidated Results of Operati,Consolidated Statement of Cash
CAT2.xlsx,Consolidated Financial Position,Consolidated Results of Operati,Consolidated Statement of Cash
CAT3.xlsx,Consolidated Financial Position,Consolidated Results of Operati,Consolidated Statement of Cash
CAT4.xlsx,Consolidated Financial Position,Consolidated Results of Operati,Consolidated Statement of Cash
CAT5.xlsx,Consolidated_Financial_Positio,Consolidated_Results_of_Operat,Consolidated_Statement_of_Cash
CHTR1.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
CHTR2.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
CHTR3.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
CHTR4.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
CHTR5.xlsx,CONSOLIDATED_BALANCE_SHEETS,CONSOLIDATED_STATEMENTS_OF_OPE,CONSOLIDATED_STATEMENTS_OF_CAS
CMCSA1.xlsx,Consolidated Balance Sheet,Consolidated Statement of Incom,Consolidated Statement of Cash
CMCSA2.xlsx,Consolidated Balance Sheet,Consolidated Statement of Incom,Consolidated Statement of Cash
CMCSA3.xlsx,Consolidated Balance Sheet,Consolidated Statement of Incom,Consolidated Statement of Cash
CMCSA4.xlsx,Consolidated Balance Sheet,Consolidated Statement of Incom,Consolidated Statement of Cash
CMCSA5.xlsx,Consolidated_Balance_Sheet,Consolidated_Statement_of_Inco,Consolidated_Statement_of_Cash
COST1.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Inco,Consolidated Statements Of Cash
COST2.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Inco,Consolidated Statements Of Cash
COST3.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Inco,Consolidated Statements Of Cash
COST4.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Inco,Consolidated Statements Of Cash
COST5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_Of_Inc,Consolidated_Statements_Of_Cas
CPB1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Earn,Consolidated Statements of Cash
CPB2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Earn,Consolidated Statements of Cash
CPB3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Earn,Consolidated Statements of Cash
CRM1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
CRM2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
CRM4.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
CRM5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_of_Ope,Consolidated_Statements_of_Cas
CSCO1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
CSCO2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
CSCO3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
CSCO4.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Oper,Consolidated Statements Of Cash
CSCO5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_Of_Ope,Consolidated_Statements_Of_Cas
D1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
D2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
D3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
D4.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
D5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_of_Inc,Consolidated_Statements_of_Cas
DG1.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
DG2.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
DG3.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
DG4.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
DG5.xlsx,CONSOLIDATED_BALANCE_SHEETS,CONSOLIDATED_STATEMENTS_OF_INC,CONSOLIDATED_STATEMENTS_OF_CAS
DLTR1.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED INCOME STATEMENTS,CONSOLIDATED STATEMENTS OF CASH
DLTR2.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
DLTR3.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED INCOME STATEMENTS,CONSOLIDATED STATEMENTS OF CASH
DLTR4.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED INCOME STATEMENTS,CONSOLIDATED STATEMENTS OF CASH
DLTR5.xlsx,CONSOLIDATED_BALANCE_SHEETS,CONSOLIDATED_INCOME_STATEMENTS,CONSOLIDATED_STATEMENTS_OF_CAS
EIX1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
EIX2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
EIX3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
EIX4.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
EIX5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_of_Inc,Consolidated_Statements_of_Cas
EMR1.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Earn,Consolidated Statements Of Cash
EMR2.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Earn,Consolidated Statements Of Cash
EMR3.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Earn,Consolidated Statements Of Cash
EMR4.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Earn,Consolidated Statements Of Cash
EMR5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_Of_Ear,Consolidated_Statements_Of_Cas
FDX1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
FDX2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
FDX3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
FDX4.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
FDX5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_of_Inc,Consolidated_Statements_of_Cas
FE1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
FE2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
FE3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
FE4.xlsx,Consolidated Balance Sheets (Fi,Consolidated Statements of Inco,Consolidated Statements of Cash
FE5.xlsx,NaN,Consolidated_Statements_of_Inc,Consolidated_Statements_of_Cas
FE6.xlsx,NaN,Consolidated_Statements_of_Inc,Consolidated_Statements_of_Cas
FFIV1.xlsx,Consolidated Balance Sheets,Consolidated Income Statements,Consolidated Statements Of Cash
FFIV2.xlsx,Consolidated Balance Sheets,Consolidated Income Statements,Consolidated Statements Of Cash
FFIV3.xlsx,Consolidated Balance Sheets,Consolidated Income Statements,Consolidated Statements Of Cash
FFIV4.xlsx,Consolidated Balance Sheets,Consolidated Income Statements,Consolidated Statements Of Cash
FFIV5.xlsx,Consolidated_Balance_Sheets,Consolidated_Income_Statements,Consolidated_Statements_Of_Cas
GILD1.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
GILD2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
GILD3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
GILD4.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
GILD5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_of_Inc,Consolidated_Statements_of_Cas
GM1.xlsx,Consolidated Balance Sheets,Consolidated Income Statements,Consolidated Statements Of Cash
GM2.xlsx,Consolidated Balance Sheets,Consolidated Income Statements,Consolidated Statements Of Cash
GM3.xlsx,Consolidated Balance Sheets,Consolidated Income Statements,Consolidated Statements Of Cash
GM4.xlsx,Consolidated Balance Sheets,Consolidated Income Statements,Consolidated Statements Of Cash
GM5.xlsx,Consolidated_Balance_Sheets,Consolidated_Income_Statements,Consolidated_Statements_Of_Cas
INCY1.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
INCY2.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
INCY3.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
INCY4.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
INCY5.xlsx,CONSOLIDATED_BALANCE_SHEETS,CONSOLIDATED_STATEMENTS_OF_OPE,CONSOLIDATED_STATEMENTS_OF_CAS
JNPR1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
JNPR2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
JNPR3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
JNPR4.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
JNPR5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_of_Ope,Consolidated_Statements_of_Cas
KO3.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
KO4.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
KO5.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
KR1.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
KR2.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
KR3.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
KR4.xlsx,CONSOLIDATED_BALANCE_SHEETS,CONSOLIDATED_STATEMENTS_OF_OPE,CONSOLIDATED_STATEMENTS_OF_CAS
LNT1.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Inco,Consolidated Statements Of Cash
LNT2.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Inco,Consolidated Statements Of Cash
LNT3.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Inco,Consolidated Statements Of Cash
LNT4.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Inco,Consolidated Statements Of Cash
LNT5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_Of_Inc,Consolidated_Statements_Of_Cas
LVS1.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
LVS2.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
LVS3.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
LVS4.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
LVS5.xlsx,CONSOLIDATED_BALANCE_SHEETS,CONSOLIDATED_STATEMENTS_OF_OPE,CONSOLIDATED_STATEMENTS_OF_CAS
MDLZ1.xlsx,"Consolidated Balance Sheets, as",Consolidated Statements of Earn,Consolidated Statements of Cash
MDLZ2.xlsx,"Consolidated Balance Sheets, as",Consolidated Statements of Earn,Consolidated Statements of Cash
MDLZ3.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_of_Ear,Consolidated_Statements_of_Cas
MGM1.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
MGM2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
MGM3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
MGM4.xlsx,Consolidated Balance Sheets,Consolidated Statements of Oper,Consolidated Statements of Cash
MGM5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_Of_Ope,Consolidated_Statements_Of_Cas
MLM1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Earn,Consolidated Statements of Cash
MLM2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Earn,Consolidated Statements of Cash
MLM3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Earn,Consolidated Statements of Cash
MLM4.xlsx,Consolidated Balance Sheets,Consolidated Statements of Earn,Consolidated Statements of Cash
MLM5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_of_Ear,Consolidated_Statements_of_Cas
MSI1.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Oper,Consolidated Statements of Cash
MSI2.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Oper,Consolidated Statements of Cash
MSI3.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Oper,Consolidated Statements of Cash
MSI4.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Oper,Consolidated Statements of Cash
MSI5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_Of_Ope,Consolidated_Statements_Of_Cas
NKE1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
NKE2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
NKE3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
NKE4.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Inco,Consolidated Statements of Cash
NKE5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_Of_Inc,Consolidated_Statements_of_Cas
ORCL1.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
ORCL2.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
ORCL3.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
ORCL4.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
ORCL5.xlsx,CONSOLIDATED_BALANCE_SHEETS,CONSOLIDATED_STATEMENTS_OF_OPE,CONSOLIDATED_STATEMENTS_OF_CAS
PCAR1.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
PCAR2.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
PCAR3.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
PCAR4.xlsx,Consolidated Balance Sheets,Consolidated Statements of Inco,Consolidated Statements of Cash
PCAR5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_of_Inc,Consolidated_Statements_of_Cas
PEG1.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Oper,Consolidated Statements Of Cash
PEG2.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Oper,Consolidated Statements Of Cash
PEG3.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Oper,Consolidated Statements Of Cash
PEG4.xlsx,Consolidated Balance Sheets,Consolidated Statements Of Oper,Consolidated Statements Of Cash
PEG5.xlsx,Consolidated_Balance_Sheets,Consolidated_Statements_Of_Ope,Consolidated_Statements_Of_Cas
Pepsico1.xlsx,Consolidated Balance Sheet,Consolidated Statement of Incom,Consolidated Statement of Cash
Pepsico2.xlsx,Consolidated Balance Sheet,Consolidated Statement of Incom,Consolidated Statement of Cash
Pepsico3.xlsx,Consolidated Balance Sheet,Consolidated Statement of Incom,Consolidated Statement of Cash
PPL1.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
PPL2.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
PPL3.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
PPL4.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF INCO,CONSOLIDATED STATEMENTS OF CASH
PPL5.xlsx,CONSOLIDATED_BALANCE_SHEETS,CONSOLIDATED_STATEMENTS_OF_INC,CONSOLIDATED_STATEMENTS_OF_CAS
REGN1.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
REGN2.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH
REGN3.xlsx,CONSOLIDATED BALANCE SHEETS,CONSOLIDATED STATEMENTS OF OPER,CONSOLIDATED STATEMENTS OF CASH

In [30]:
def clean_table(table):
        
    df = table.copy()
    df.replace(u'\xa0','', regex=True, inplace=True)
    
    # Replace empty string with nan
    df.replace("^$",np.nan, regex=True, inplace=True)
    
    # Replace fields with [n] as nan
            
    for i in range(1,len(df.columns)):
      if df[df.columns[i]].dtype == object:
         df[df.columns[i]].replace("\[\d\]*$", np.nan, regex=True, inplace=True)
    
    # Remove footnotes embedded in table
    
    df.drop(df.loc[df[df.columns[0]].str.contains(r"^\[\d?\]$", case=False, regex=True,na=False)].index,inplace=True)
    
    # Replace nan in first column with ''
    
    df[df.columns[0]].replace(np.nan,'',inplace=True)
    
    #Remove blank columns and rows
    
    df.dropna(axis=1, how='all', inplace=True)
    df.dropna(axis=0, how='all', inplace=True)
    
    if len(df.columns) > 5:
      # Take the first and the last 3 columns
        
      a = df.iloc[:,:1].copy()
      b = df.iloc[:,-3:].copy()
      df = pd.concat([a,b], axis=1).copy()
    
    #Remove comments in brackets eg (Notes 1) and spurious characters
    
    df[df.columns[0]].replace(r"[\s]?\(Note.*\)", "", regex=True, inplace=True)
    df[df.columns[0]].replace(r"â€™","", regex=True, inplace=True)
    
    # Deal with situation where column labels are of type date time. Extract year and convert to str
    
    col = list(df.columns[0:])
 
    for i in range(0,len(col)):
      if type(col[i]) is datetime.datetime :
        col[i] = col[i].strftime('%Y')
    
    # Set columns to extraxted year which will be of type string
    # If we don't do this, the following if condition will not work.
    
    df.columns = col
    
    if df.columns.str.contains(r"\d\d\d\d", case=False, regex=True,na=False).sum() == 0:
        # Take Column Names from first row
        
        df.iloc[0].fillna('', axis=0, inplace=True)
        
        # Deal with the situation where the first row is read in as date time
    
        for i in range(0,len(df.iloc[0])):
          if type(df.iloc[0][i]) is datetime.datetime :
            df.iloc[0][i] = df.iloc[0][i].strftime('%Y')
            x=1
            
        df.iloc[0] = df.iloc[0].astype('string')
        col = list(df.iloc[0])
        
        # Drop the first row
    
        df.drop(index=df.index[0], axis=0, inplace=True)
        
    col[0] = 'Index'
    #print(col) 
    
    # Extraxt year if there is a match
    
    for i in range(1,len(col)):
      res = re.search('(20[0-9][0-9])', col[i])

      if res:
        col[i] = res.group(0)
    
    print(col) 
    df.columns = col  
    
    # Remove footnotes embedded in table
    
    df.drop(df.loc[df[df.columns[0]].str.contains(r"^\[\d?\]$", case=False, regex=True,na=False)].index,inplace=True)
    
    # Drop columns and headers that are blank
    
    #df.dropna(axis=1, how='all', inplace=True)
    #df.dropna(axis=0, how='all', inplace=True)
    
    # Make sure that first column doesn't have any nulls
  
    df['Index'] = df['Index'].fillna('')
    
    # Set index to first column
    
    df.set_index(df.columns[0], inplace=True)
    
    #Replace single quote with nan
    
    df.replace("'",np.nan, inplace=True)
    
    # Remove rows which contain otherwise specified
    
    df = df.loc[~df.index.str.contains(rf"(?:Consolidated|Income|unless otherwise)",case=False, regex=True,na=False)]
    
    # Show first row as a validation check
    
    print(pd.DataFrame(df.iloc[0]).T)
    
    return df

In [5]:
def get_line_items(t):
 
  
  heading = []
  line_item = []
    
  for index, row in t.iterrows():  
    
    if type(index) is tuple:
        print("<<Tuple Found>>")
        
    if row.replace('', np.nan).isna().all():
      # Blank row, so assume heading
    
      heading.append(index)
    else:    
      line_item.append(index)


  return {'heading' : heading,
          'line_item' : line_item}

In [6]:
def get_spreadsheet(company,ticker,file, type):
    
  rootdir = "C:/Users/priye/Desktop/Dissertation/DATA/"

  dirname = rootdir + ticker
  path = dirname + '/' + file

  xl_file = pd.ExcelFile(path)
  table = xl_file.parse(company.loc[file,type],parse_dates=False)

  return table

In [32]:
rootdir = "C:/Users/priye/Desktop/Dissertation/DATA/"

income_sheets = {}
headings = []
line_items = []

for d in listdir(rootdir):

  sheets = []
  dirname = rootdir + d
 
  for f in listdir(dirname):
    if f.endswith('xlsx'):
      print(f)
      table = get_spreadsheet(company,d,f,'Income')
      t = clean_table(table)
      sheets.append(t)
        
      l_dict = get_line_items(t)      
      headings = headings + l_dict['heading']
      line_items = line_items + l_dict['line_item']
  income_sheets[d] = sheets
    
# Remove duplicates from headings and line items

unique_list = set(headings)
headings = list(unique_list)

unique_list = set(line_items)
line_items = list(unique_list)

table_labels = {'headings' : headings,
                'line_items' : line_items}

ADBE1.xlsx
['Index', '2022', '2021', '2020']
         2022 2021 2020
Revenue:  NaN  NaN  NaN
ADBE2.xlsx
['Index', '2020', '2019', '2018']
         2020 2019 2018
Revenue:  NaN  NaN  NaN
ADBE3.xlsx
['Index', '2018', '2017', '2016']
         2018 2017 2016
Revenue:  NaN  NaN  NaN
ADBE4.xlsx
['Index', '2016', '2015', '2014']
         2016 2015 2014
Revenue:  NaN  NaN  NaN
ADBE5.xlsx
['Index', '2014', '2013', '2012']
         2014 2013 2012
Revenue:  NaN  NaN  NaN
ADM1.xlsx
['Index', '2022', '2021', '2020']
            2022   2021   2020
Revenues  101556  85249  64355
ADM2.xlsx
['Index', '2020', '2019', '2018']
           2020   2019   2018
Revenues  64355  64656  64341
ADM3.xlsx
['Index', '2018', '2017', '2016']
           2018   2017   2016
Revenues  64341  60828  62346
ADM4.xlsx
['Index', '2018', '2017', '2016']
           2018   2017   2016
Revenues  64341  60828  62346
ADM5.xlsx
['Index', '2014', '2013', '2012']
           2014   2013   2012
Revenues  81201  89804  89038
AME1.xlsx
['Index', '2022', '2021', '2020']
              2022     2021     2020
Net sales  6150530  5546514  4540029
AME2.xlsx
['Index', '2020', '2019', '2018']
              2020     2019     2018
Net sales  4540029  5158557  4845872
AME3.xlsx
['Index', '2018', '2017', '2016']
              2018     2017     2016
Net sales  4845872  4300170  3840087
AME4.xlsx
['Index', '2016', '2015', '2014']
              2016     2015     2014
Net sales  3840087  3974295  4021964
AME5.xlsx
['Index', '2014', '2013', '2012']
              2014     2013     2012
Net sales  4021964  3594136  3334213
AMGN1.xlsx
['Index', '2022', '2021', '2020']
          2022 2021 2020
Revenues:  NaN  NaN  NaN
AMGN2.xlsx
['Index', '2020', '2019', '2018']
          2020 2019 2018
Revenues:  NaN  NaN  NaN
AMGN3.xlsx
['Index', '2018', '2017', '2016']
          2018 2017 2016
Revenues:  NaN  NaN  NaN
AMGN4.xlsx
['Index', '2016', '2015', '2014']
          2016 2015 2014
Revenues:  NaN  NaN  NaN
AMGN5.xlsx
['Index', '2014', '2013', '2012']
          2014 2013 2012
Revenues:  NaN  NaN  NaN
ANET1.xlsx
['Index', '2022', '2021', '2020']
         2022 2021 2020
Revenue:  NaN  NaN  NaN
ANET2.xlsx
['Index', '2020', '2019', '2018']
         2020 2019 2018
Revenue:  NaN  NaN  NaN
ANET3.xlsx
['Index', '2018', '2017', '2016']
         2018 2017 2016
Revenue:  NaN  NaN  NaN
ANET4.xlsx
['Index', '2016', '2015', '2014']
         2016 2015 2014
Revenue:  NaN  NaN  NaN
ANET5.xlsx
['Index', '2014', '2013', '2012']
           2014    2013    2012
Revenue  584106  361224  193408
BBY1.xlsx
['Index', '2023', '2022', '2021']
          2023   2022   2021
Revenue  46298  51761  47262
BBY2.xlsx
['Index', '2021', '2020', '2019']
          2021   2020   2019
Revenue  47262  43638  42879
BBY3.xlsx
['Index', '2019', '2018', '2017']
          2019   2018   2017
Revenue  42879  42151  39403
BBY4.xlsx
['Index', '2017', '2016', '2015']
          2017   2016   2015
Revenue  39403  39528  40339
BBY5.xlsx
['Index', '2013', '2015', '2014']
          2013   2015   2014
Revenue  38252  40339  40611
BG1.xlsx
['Index', '2022', '2021', '2020']
            2022   2021   2020
Net sales  67232  59152  41404
BG2.xlsx
['Index', '2020', '2019', '2018']
           2020   2019   2018
Revenues  41404  41140  45743
BG3.xlsx
['Index', '2016', '2015', '2014']
            2016   2015   2014
Net sales  42679  43455  57161
BG4.xlsx
['Index', '2016', '2015', '2014']
            2016   2015   2014
Net sales  42679  43455  57161
BG5.xlsx
['Index', '2014', '2013', '2012']
            2014   2013   2012
Net sales  57161  61347  60991
BIIB1.xlsx
['Index', '2022', '2021', '2020']
          2022  2021  2020
Revenues 10173 10982 13445
BIIB2.xlsx
['Index', '2020', '2019', '2018']
                2020  2019  2018
Total revenues 13445 14378 13453
BIIB3.xlsx
['Index', '2018', '2017', '2016']
                2018  2017  2016
Total Revenues 13453 12274 11449
BIIB4.xlsx
['Index', '2016', '2015', '2014']
          2016 2015 2014
Revenues:  NaN  NaN  NaN
BIIB5.xlsx
['Index', '2014', '2013', '2012']
          2014 2013 2012
Revenues:  NaN  NaN  NaN
CAT1.xlsx
['Index', '2022', '2021', '2020']
                    2022 2021 2020
Sales and revenues:  NaN  NaN  NaN
CAT2.xlsx
['Index', '2020', '2019', '2018']
                    2020 2019 2018
Sales and revenues:  NaN  NaN  NaN
CAT3.xlsx
['Index', '2018', '2017', '2016']
                    2018 2017 2016
Sales and revenues:  NaN  NaN  NaN
CAT4.xlsx
['Index', '2016', '2015', '2014']
                    2016 2015 2014
Sales and revenues:  NaN  NaN  NaN
CAT5.xlsx
['Index', '2014', '2013', '2012']
                    2014 2013 2012
Sales and revenues:  NaN  NaN  NaN
CHTR1.xlsx
['Index', '2022', '2021', '2020']
           2022   2021   2020
REVENUES  54022  51682  48097
CHTR2.xlsx
['Index', '2020', '2019', '2018']
           2020   2019   2018
REVENUES  48097  45764  43634
CHTR3.xlsx
['Index', '2018', '2017', '2016']
           2018   2017   2016
REVENUES  43634  41581  29003
CHTR4.xlsx
['Index', '2016', '2015', '2014']
           2016  2015  2014
REVENUES  29003  9754  9108
CHTR5.xlsx
['Index', '2014', '2013', '2012']
          2014  2013  2012
REVENUES  9108  8155  7504
CMCSA1.xlsx
['Index', '2022', '2021', '2020']
           2022    2021    2020
Revenue  121427  116385  103564
CMCSA2.xlsx
['Index', '2020', '2019', '2018']
           2020    2019   2018
Revenue  103564  108942  94507
CMCSA3.xlsx
['Index', '2018', '2017', '2016']
          2018   2017   2016
Revenue  94507  85029  80736
CMCSA4.xlsx
['Index', '2016', '2015', '2014']
          2016   2015   2014
Revenue  80403  74510  68775
CMCSA5.xlsx
['Index', '2014', '2013', '2012']
                2014         2013         2012
Revenue  68775000000  64657000000  62570000000
COST1.xlsx
['Index', '2022', '2021', '2020']
        2022 2021 2020
REVENUE  NaN  NaN  NaN
COST2.xlsx
['Index', '2020', '2019', '2018']
        2020 2019 2018
REVENUE  NaN  NaN  NaN
COST3.xlsx
['Index', '2018', '2017', '2016']
        2018 2017 2016
REVENUE  NaN  NaN  NaN
COST4.xlsx
['Index', '2016', '2015', '2014']
        2016 2015 2014
REVENUE  NaN  NaN  NaN
COST5.xlsx
['Index', '2014', '2013', '2012']
         2014  2013  2012
REVENUE   NaN   NaN   NaN
CPB1.xlsx
['Index', '2022', '2021', '2020']
           2022  2021  2020
Net sales  8562  8476  8691
CPB2.xlsx
['Index', '2019', '2018', '2017']
           2019  2018  2017
Net sales  8107  6615  5837
CPB3.xlsx
['Index', '2016', '2015', '2014']
           2016  2015  2014
Net sales  7961  8082  8268
CSCO1.xlsx
['Index', '2022', '2021', '2020']
         2022 2021 2020
REVENUE:  NaN  NaN  NaN
CSCO2.xlsx
['Index', '2020', '2019', '2018']
         2020 2019 2018
REVENUE:  NaN  NaN  NaN
CSCO3.xlsx
['Index', '2018', '2017', '2016']
         2018 2017 2016
REVENUE:  NaN  NaN  NaN
CSCO4.xlsx
['Index', '2016', '2015', '2014']
         2016 2015 2014
REVENUE:  NaN  NaN  NaN
CSCO5.xlsx
['Index', '2014', '2013', '2012']
          2014  2013  2012
REVENUE:   NaN   NaN   NaN
DG1.xlsx
['Index', '2023', '2022', '2021']
               2023      2022      2021
Net sales  37844863  34220449  33746839
DG2.xlsx
['Index', '2021', '2020', '2019']
               2021      2020      2019
Net sales  33746839  27753973  25625043
DG3.xlsx
['Index', '2019', '2018', '2017']
               2019      2018      2017
Net sales  25625043  23470967  21986598
DG4.xlsx
['Index', '2017', '2016', '2015']
               2017      2016      2015
Net sales  21986598  20368562  18909588
DG5.xlsx
['Index', '2015', '2014', '2013']
               2015      2014      2013
Net sales  18909588  17504167  16022128
DLTR1.xlsx
['Index', '2023', '2022', '2021']
           2023  2022  2021
Net sales 28318 26310 25508
DLTR2.xlsx
['Index', '2021', '2020', '2019']
           2021  2020  2019
Net sales 25509 23611 22823
DLTR3.xlsx
['Index', '2019', '2018', '2017']
                 2019  2018  2017
Total net sales 22823 22246 20719
DLTR4.xlsx
['Index', '2017', '2016', '2015']
           2017  2016 2015
Net sales 20719 15498 8602
DLTR5.xlsx
['Index', '2015', '2014', '2013']
          2015 2014 2013
Net sales 8602 7840 7394
FFIV1.xlsx
['Index', '2022', '2021', '2020']
             2022 2021 2020
Net revenues  NaN  NaN  NaN
FFIV2.xlsx

['Index', '2020', '2019', '2018']
             2020 2019 2018
Net revenues  NaN  NaN  NaN
FFIV3.xlsx
['Index', '2018', '2017', '2016']
             2018 2017 2016
Net revenues  NaN  NaN  NaN
FFIV4.xlsx
['Index', '2016', '2015', '2014']
             2016 2015 2014
Net revenues  NaN  NaN  NaN
FFIV5.xlsx
['Index', '2014', '2013', '2012']
              2014  2013  2012
Net revenues   NaN   NaN   NaN
GILD1.xlsx
['Index', '2022', '2021', '2020']
          2022 2021 2020
Revenues:  NaN  NaN  NaN
GILD2.xlsx
['Index', '2020', '2019', '2018']
          2020 2019 2018
Revenues:  NaN  NaN  NaN
GILD3.xlsx
['Index', '2018', '2017', '2016']
         2018 2017 2016
Revenues  NaN  NaN  NaN
GILD4.xlsx
['Index', '2016', '2015', '2014']
         2016 2015 2014
Revenues  NaN  NaN  NaN
GILD5.xlsx
['Index', '2014', '2013', '2012']
                    2014 2013 2012
Revenues [Abstract]  NaN  NaN  NaN
GM1.xlsx
['Index', '2022', '2021', '2020']
                      2022 2021 2020
Net sales and revenue  NaN  NaN  NaN
GM2.xlsx
['Index', '2020', '2019', '2018']
                      2020 2019 2018
Net sales and revenue  NaN  NaN  NaN
GM3.xlsx
['Index', '2018', '2017', '2016']
                      2018 2017 2016
Net sales and revenue  NaN  NaN  NaN
GM4.xlsx
['Index', '2016', '2015', '2014']
                      2016 2015 2014
Net sales and revenue  NaN  NaN  NaN
GM5.xlsx
['Index', '2014', '2013', '2012']
                      2014 2013 2012
Net sales and revenue  NaN  NaN  NaN
INCY1.xlsx
['Index', '2022', '2021', '2020']
          2022 2021 2020
Revenues:  NaN  NaN  NaN
INCY2.xlsx
['Index', '2020', '2019', '2018']
          2020 2019 2018
Revenues:  NaN  NaN  NaN
INCY3.xlsx
['Index', '2018', '2017', '2016']
          2018 2017 2016
Revenues:  NaN  NaN  NaN
INCY4.xlsx
['Index', '2016', '2015', '2014']
          2016 2015 2014
Revenues:  NaN  NaN  NaN
INCY5.xlsx
['Index', '2014', '2013', '2012']
          2014 2013 2012
Revenues:  NaN  NaN  NaN
JNPR1.xlsx
['Index', '2022', '2021', '2020']
              2022 2021 2020
Net revenues:  NaN  NaN  NaN
JNPR2.xlsx
['Index', '2020', '2019', '2018']
              2020 2019 2018
Net revenues:  NaN  NaN  NaN
JNPR3.xlsx
['Index', '2018', '2017', '2016']
              2018 2017 2016
Net revenues:  NaN  NaN  NaN
JNPR4.xlsx
['Index', '2016', '2015', '2014']
              2016 2015 2014
Net revenues:  NaN  NaN  NaN
JNPR5.xlsx
['Index', '2014', '2013', '2012']
              2014 2013 2012
Net revenues:  NaN  NaN  NaN
KO3.xlsx
['Index', '2015', '2014', '2013']
                         2015   2014   2013
NET OPERATING REVENUES  44294  45998  46854
KO4.xlsx
['Index', '2018', '2017', '2016']
           2018   2017   2016
Revenues  31856  35410  41863
KO5.xlsx
['Index', '2021', '2020', '2019']
                         2021   2020   2019
Net Operating Revenues  38655  33014  37266
KR1.xlsx
['Index', '2022', '2021', '2020']
         2022    2021    2020
Sales  137888  132498  122286
KR2.xlsx
['Index', '2020', '2019', '2018']
         2020    2019    2018
Sales  122286  121852  123280
KR3.xlsx
['Index', '2018', '2017', '2016']
         2018    2017    2016
Sales  122662  115337  109830
KR4.xlsx
['Index', '2014', '2013', '2012']
       2014  2013  2012
Sales 98375 96619 90269
LNT1.xlsx
['Index', '2022', '2021', '2020']
          2022 2021 2020
Revenues:  NaN  NaN  NaN
LNT2.xlsx
['Index', '2020', '2019', '2018']
          2020 2019 2018
Revenues:  NaN  NaN  NaN
LNT3.xlsx
['Index', '2018', '2017', '2016']
          2018 2017 2016
Revenues:  NaN  NaN  NaN
LNT4.xlsx
['Index', '2016', '2015', '2014']
                    2016 2015 2014
Operating revenues:  NaN  NaN  NaN
LNT5.xlsx
['Index', '2014', '2013', '2012']
         2014 2013 2012
Utility:  NaN  NaN  NaN
LVS1.xlsx
['Index', '2022', '2021', '2020']
          2022 2021 2020
Revenues:  NaN  NaN  NaN
LVS2.xlsx
['Index', '2020', '2019', '2018']
          2020 2019 2018
Revenues:  NaN  NaN  NaN
LVS3.xlsx
['Index', '2018', '2017', '2016']
          2018 2017 2016
Revenues:  NaN  NaN  NaN
LVS4.xlsx
['Index', '2016', '2015', '2014']
          2016 2015 2014
Revenues:  NaN  NaN  NaN
LVS5.xlsx
['Index', '2014', '2013', '2012']
          2014 2013 2012
Revenues:  NaN  NaN  NaN
MDLZ1.xlsx
['Index', '2022', '2021', '2020']
               2022   2021   2020
Net revenues  31496  28720  26581
MDLZ2.xlsx
['Index', '2019', '2018', '2017']
               2019   2018   2017
Net revenues  25868  25938  25896
MDLZ3.xlsx
['Index', '2013', '2012', '2011']
              2013  2012  2011
Net revenues 35299 35015 35810
MGM1.xlsx
['Index', '2022', '2021', '2020']
         2022 2021 2020
Revenues  NaN  NaN  NaN
MGM2.xlsx
['Index', '2020', '2019', '2018']
         2020 2019 2018
Revenues  NaN  NaN  NaN
MGM3.xlsx
['Index', '2018', '2017', '2016']
         2018 2017 2016
Revenues  NaN  NaN  NaN
MGM4.xlsx
['Index', '2016', '2015', '2014']
         2016 2015 2014
Revenues  NaN  NaN  NaN
MGM5.xlsx
['Index', '2014', '2013', '2012']
         2014 2013 2012
Revenues  NaN  NaN  NaN
MLM1.xlsx
['Index', '2022', '2021', '2020']
               2022  2021 2020
Total Revenues 6161  5414 4730
MLM2.xlsx
['Index', '2020', '2019', '2018']
               2020 2019 2018
Total revenues 4730 4739 4244
MLM3.xlsx
['Index', '2018', '2017', '2016']
                      2018        2017        2016
Total revenues  4244265000  3965594000  3818749000
MLM4.xlsx
['Index', '2016', '2015', '2014']
              2016     2015     2014
Net Sales  3576767  3268116  2679095
MLM5.xlsx
['Index', '2014', '2013', '2012']
              2014     2013     2012
Net Sales  2679095  1943218  1832957
MSI1.xlsx
['Index', '2022', '2021', '2020']
           2022  2021  2020
Net sales  9112  8171  7414
MSI2.xlsx
['Index', '2020', '2019', '2018']
           2020  2019  2018
Net sales  7414  7887  7343
MSI3.xlsx
['Index', '2018', '2017', '2016']
           2018  2017  2016
Net sales  7343  6380  6038
MSI4.xlsx
['Index', '2016', '2015', '2014']
                               2016        2015        2014
Net sales from products  3649000000  3676000000  3807000000
MSI5.xlsx
['Index', '2014', '2013', '2012']
                         2014  2013  2012
Net sales from products  3807  4109  4236
NKE1.xlsx
['Index', '2022', '2021', '2020']
           2022   2021   2020
Revenues  46710  44538  37403
NKE2.xlsx
['Index', '2020', '2019', '2018']
           2020   2019   2018
Revenues  37403  39117  36397
NKE3.xlsx
['Index', '2018', '2017', '2016']
           2018   2017   2016
Revenues  36397  34350  32376
NKE4.xlsx
['Index', '2016', '2015', '2014']
           2016   2015   2014
Revenues  32376  30601  27799
NKE5.xlsx
['Index', '2014', '2013', '2012']
           2014   2013   2012
Revenues  27799  25313  23331
ORCL1.xlsx
['Index', '2022', '2021', '2020']
          2022 2021 2020
Revenues:  NaN  NaN  NaN
ORCL2.xlsx
['Index', '2020', '2019', '2018']
          2020 2019 2018
Revenues:  NaN  NaN  NaN
ORCL3.xlsx
['Index', '2018', '2017', '2016']
          2018 2017 2016
Revenues:  NaN  NaN  NaN
ORCL4.xlsx
['Index', '2016', '2015', '2014']
                                        2016 2015 2014
Cloud and on-premises software revenues  NaN  NaN  NaN
ORCL5.xlsx
['Index', '2014', '2013', '2012']
                              2014  2013  2012
Software and cloud revenues:   NaN   NaN   NaN
PCAR1.xlsx
['Index', '2022', '2021', '2020']
          2022  2021  2020
Revenues 28820 23522 18728
PCAR2.xlsx
['Index', '2020', '2019', '2018']
          2020  2019  2018
Revenues 18728 25600 23496
PCAR3.xlsx
['Index', '2018', '2017', '2016']
          2018  2017  2016
Revenues 23496 19456 17033
PCAR4.xlsx
['Index', '2016', '2015', '2014']
                                    2016 2015 2014
Provision for losses on receivables   18   12   15
PCAR5.xlsx
['Index', '2014', '2013', '2012']
                                    2014 2013 2012
Provision for losses on receivables   15   13   20
PEG1.xlsx
['Index', '2022', '2021', '2020']
                    2022  2021  2020
Operating Revenues  9800  9722  9603
PEG2.xlsx
['Index', '2020', '2019', '2018']
                    2020   2019  2018
Operating Revenues  9603  10076  9696
PEG3.xlsx
['Index', '2018', '2017', '2016']
                    2018  2017  2016
Operating Revenues  9696  9094  8966
PEG4.xlsx

['Index', '2016', '2015', '2014']
                    2016   2015   2014
Operating Revenues  9061  10415  10886
PEG5.xlsx
['Index', '2014', '2013', '2012']
                     2014  2013  2012
Operating Revenues  10886  9968  9781
Pepsico1.xlsx
['Index', '2022', '2021', '2020']
              2022   2021   2020
Net Revenue  86392  79474  70372
Pepsico2.xlsx
['Index', '2019', '2018', '2017']
              2019   2018   2017
Net Revenue  67161  64661  63525
Pepsico3.xlsx
['Index', '2015', '2014', '2013']
              2015   2014   2013
Net Revenue  63056  66683  66415
REGN1.xlsx
['Index', '2022', '2021', '2020']
          2022 2021 2020
Revenues:  NaN  NaN  NaN
REGN2.xlsx
['Index', '2020', '2019', '2018']
          2020 2019 2018
Revenues:  NaN  NaN  NaN
REGN3.xlsx
['Index', '2018', '2017', '2016']
          2018 2017 2016
Revenues:  NaN  NaN  NaN
REGN4.xlsx
['Index', '2016', '2015', '2014']
          2016 2015 2014
Revenues:  NaN  NaN  NaN
REGN5.xlsx
['Index', '2014', '2013', '2012']
          2014 2013 2012
Revenues:  NaN  NaN  NaN
RL1.xlsx
['Index', '2022', '2021', '2020']
             2022 2021 2020
Net revenues 6218 4401 6160
RL2.xlsx
['Index', '2020', '2019', '2018']
             2020  2019 2018
Net revenues 6160  6313 6182
RL3.xlsx
['Index', '2018', '2017', '2016']
             2018 2017 2016
Net revenues 6182 6653 7405
RL4.xlsx
['Index', '2016', '2015', '2014']
           2016  2015  2014
Net sales  7230  7451  7284
RL5.xlsx
['Index', '2014', '2013', '2012']
           2014  2013  2012
Net sales  7284  6763  6679
ROK1.xlsx
['Index', '2022', '2021', '2020']
      2022 2021 2020
Sales  NaN  NaN  NaN
ROK2.xlsx
['Index', '2020', '2019', '2018']
      2020 2019 2018
Sales  NaN  NaN  NaN
ROk3.xlsx
['Index', '2018', '2017', '2016']
      2018 2017 2016
Sales  NaN  NaN  NaN
ROK4.xlsx
['Index', '2016', '2015', '2014']
      2016 2015 2014
Sales  NaN  NaN  NaN
ROK5.xlsx
['Index', '2014', '2013', '2012']
       2014  2013  2012
Sales   NaN   NaN   NaN
ROST1.xlsx
['Index', '2023', '2022', '2021']
           2023      2022      2021
Sales  18695829  18916244  12531565
ROST2.xlsx
['Index', '2021', '2020', '2019']
           2021      2020      2019
Sales  12531565  16039073  14983541
ROST3.xlsx
['Index', '2019', '2018', '2017']
           2019      2018      2017
Sales  14983541  14134732  12866757
ROST4.xlsx
['Index', '2017', '2016', '2015']
           2017      2016      2015
Sales  12866757  11939999  11041677
ROST5.xlsx
['Index', '2015', '2014', '2013']
           2015      2014     2013
Sales  11041677  10230353  9721065
TAP1.xlsx
['Index', '2022', '2021', '2020']
       2022  2021  2020
Sales 12808 12450 11724
TAP2.xlsx
['Index', '2019', '2018', '2017']
       2019   2018  2017
Sales 13009  13338 13472
TAP4.xlsx
['Index', '2013', '2012', '2011']
       2013  2012  2011
Sales  6000  5615  5170
TGT1.xlsx
['Index', '2023', '2022', '2021']
                 2023    2022   2021
Total revenue  109120  106005  93561
TGT2.xlsx
['Index', '2021', '2020', '2019']
                2021   2020   2019
Total revenue  93561  78112  75356
TGT3.xlsx
['Index', '2019', '2018', '2017']
                2019   2018   2017
Total revenue  75356  72714  70271
TGT4.xlsx
['Index', '2017', '2016', '2015']
        2017   2016   2015
Sales  69495  73785  72618
TGT5.xlsx
['Index', '2015', '2014', '2013']
        2015   2014   2013
Sales  72618  71279  71960
TJX1.xlsx
['Index', '2023', '2022', '2021']
           2023      2022      2021
Sales  18695829  18916244  12531565
TJX2.xlsx
['Index', '2021', '2020', '2019']
           2021      2020      2019
Sales  12531565  16039073  14983541
TJX3.xlsx
['Index', '2019', '2018', '2017']
           2019      2018      2017
Sales  14983541  14134732  12866757
TJX4.xlsx
['Index', '2017', '2016', '2015']
           2017      2016      2015
Sales  12866757  11939999  11041677
TJX5.xlsx
['Index', '2015', '2014', '2013']
           2015      2014     2013
Sales  11041677  10230353  9721065
TSLA1.xlsx
['Index', '2022', '2021', '2020']
         2022 2021 2020
Revenues  NaN  NaN  NaN
TSLA2.xlsx
['Index', '2020', '2019', '2018']
         2020 2019 2018
Revenues  NaN  NaN  NaN
TSLA3.xlsx
['Index', '2019', '2018', '2017']
         2019 2018 2017
Revenues  NaN  NaN  NaN
TSLA4.xlsx
['Index', '2018', '2017', '2016']
         2018 2017 2016
Revenues  NaN  NaN  NaN
TSLA5.xlsx
['Index', '2015', '2014', '2013']
         2015 2014 2013
Revenues  NaN  NaN  NaN
VZ1.xlsx
['Index', '2022', '2021', '2020']
                   2022 2021 2020
Operating Revenues  NaN  NaN  NaN
VZ2.xlsx
['Index', '2020', '2019', '2018']
                   2020 2019 2018
Operating Revenues  NaN  NaN  NaN
VZ3.xlsx
['Index', '2018', '2017', '2016']
                   2018 2017 2016
Operating Revenues  NaN  NaN  NaN
VZ4.xlsx
['Index', '2016', '2015', '2014']
                   2016 2015 2014
Operating Revenues  NaN  NaN  NaN
VZ5.xlsx
['Index', '2014', '2013', '2012']
                      2014    2013    2012
Operating Revenues  127079  120550  115846
WAB1.xlsx
['Index', '2022', '2021', '2020']
           2022 2021 2020
Net sales:  NaN  NaN  NaN
WAB2.xlsx
['Index', '2020', '2019', '2018']
           2020 2019 2018
Net sales:  NaN  NaN  NaN
WAB3.xlsx
['Index', '2018', '2017', '2016']
              2018     2017     2016
Net sales  4363547  3881756  2931188
WAB4.xlsx
['Index', '2016', '2015', '2014']
              2016     2015     2014
Net sales  2931188  3307998  3044454
WAB5.xlsx
['Index', '2014', '2013', '2012']
              2014     2013     2012
Net sales  3044454  2566392  2391122
WEC1.xlsx
['Index', '2022', '2021', '2020']
                   2022  2021 2020
Operating revenues 9597  8316 7242
WEC2.xlsx
['Index', '2020', '2019', '2018']
                   2020 2019 2018
Operating revenues 7242 7523 7680
WEC3.xlsx
['Index', '2018', '2017', '2016']
                   2018 2017 2016
Operating revenues 7680 7648 7472
WEC4.xlsx
['Index', '2016', '2015', '2014']
                   2016 2015 2014
Operating revenues 7472 5926 4997
WEC5.xlsx
['Index', '2014', '2013', '2012']
                   2014  2013 2012
Operating Revenues 4997  4519 4246
WMT1.xlsx
['Index', '2023', '2022', '2021']
          2023 2022 2021
Revenues:  NaN  NaN  NaN
WMT2.xlsx
['Index', '2021', '2020', '2019']
          2021 2020 2019
Revenues:  NaN  NaN  NaN
WMT3.xlsx
['Index', '2019', '2018', '2017']
          2019 2018 2017
Revenues:  NaN  NaN  NaN
WMT4.xlsx
['Index', '2017', '2016', '2015']
          2017 2016 2015
Revenues:  NaN  NaN  NaN
WMT5.xlsx
['Index', '2015', '2014', '2013']
          2015 2014 2013
Revenues:  NaN  NaN  NaN
WYNN1.xlsx
['Index', '2022', '2021', '2020']
                    2022 2021 2020
Operating revenues:  NaN  NaN  NaN
WYNN2.xlsx
['Index', '2020', '2019', '2018']
                    2020 2019 2018
Operating revenues:  NaN  NaN  NaN
WYNN3.xlsx
['Index', '2018', '2017', '2016']
                    2018 2017 2016
Operating revenues:  NaN  NaN  NaN
WYNN4.xlsx
['Index', '2016', '2015', '2014']
                    2016 2015 2014
Operating revenues:  NaN  NaN  NaN
WYNN5.xlsx
['Index', '2014', '2013', '2012']
                    2014 2013 2012
Operating revenues:  NaN  NaN  NaN

In [19]:
table = get_spreadsheet(company,'CSCO','CSCO5.xlsx','Income')
df = table.copy()
df

,Consolidated Statements Of Operations (USD $),12 Months Ended,Unnamed: 2,Unnamed: 3
0,"In Millions, except Per Share data, unless otherwise specified","Jul. 26, 2014","Jul. 27, 2013","Jul. 28, 2012"
1,REVENUE:,',','
2,Product,36172,38029,36326
3,Service,10970,10578,9735
4,Total revenue,47142,48607,46061
5,COST OF SALES:,',','
6,Product,15641,15541,14505
7,Service,3732,3626,3347
8,Total cost of sales,19373,19167,17852
9,GROSS MARGIN,27769,29440,28209
10,OPERATING EXPENSES:,',','
11,Research and development,6294,5942,5488
12,Sales and marketing,9503,9538,9647
13,General and administrative,1934,2264,2322
14,Amortization of purchased intangible assets,275,395,383
15,Restructuring and other charges,418,105,304
16,Total operating expenses,18424,18244,18144
17,OPERATING INCOME,9345,11196,10065
18,Interest income,691,654,650
19,Interest expense,-564,-583,-596
20,"Other income (loss), net",243,-40,40
21,"Interest and other income (loss), net",370,31,94
22,INCOME BEFORE PROVISION FOR INCOME TAXES,9715,11227,10159
23,Provision for income taxes,1862,1244,2118
24,NET INCOME,7853,9983,8041
25,Net income per share:,',','
26,Basic (in dollars per share),2,2,2
27,Diluted (in dollars per share),1,2,1
28,Shares used in per-share calculation:,',','
29,Basic (in shares),5234,5329,5370
30,Diluted (in shares),5281,5380,5404
31,Cash dividends declared per common share (in dollars per share),1,1,0

In [20]:
k = clean_table(df)
k

['Index', '2014', '2013', '2012']
         2014 2013 2012
REVENUE:    '    '    '

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:109: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

,2014,2013,2012
Index,,,
REVENUE:,',','
Product,36172,38029,36326
Service,10970,10578,9735
Total revenue,47142,48607,46061
COST OF SALES:,',','
Product,15641,15541,14505
Service,3732,3626,3347
Total cost of sales,19373,19167,17852
GROSS MARGIN,27769,29440,28209
OPERATING EXPENSES:,',','
Research and development,6294,5942,5488
Sales and marketing,9503,9538,9647
General and administrative,1934,2264,2322
Amortization of purchased intangible assets,275,395,383
Restructuring and other charges,418,105,304
Total operating expenses,18424,18244,18144
Interest expense,-564,-583,-596
Basic (in dollars per share),2,2,2
Diluted (in dollars per share),1,2,1
Shares used in per-share calculation:,',','
Basic (in shares),5234,5329,5370
Diluted (in shares),5281,5380,5404
Cash dividends declared per common share (in dollars per share),1,1,0

In [15]:
def save_line_items(table_labels):
    
  with open('CSV/income_headings.csv', 'w',encoding='utf-8') as f:
      
    # using csv.writer method from CSV package
    write = csv.writer(f)
      
    write.writerow(table_labels['headings'])
    
  with open('CSV/income_line_items.csv', 'w',encoding='utf-8') as f:
      
    # using csv.writer method from CSV package
    write = csv.writer(f)
      
    write.writerow(table_labels['line_items'])

In [16]:
def save_table_labels(table_labels):

  with open('pickle/income_table_labels.pkl', 'wb') as fp:
    pickle.dump(table_labels, fp)

In [17]:
def save_income_sheets(income_sheets):
  with open('pickle/income_sheets.pkl', 'wb') as fp:
    pickle.dump(income_sheets, fp)

In [117]:
save_table_labels(table_labels)

In [118]:
save_income_sheets(income_sheets)

In [18]:
income_sheets['CAT'][1]

,2020,2019,2018
Index,,,
Sales and revenues:,NaN,NaN,NaN
Sales and revenues,41748,53800,54722
Operating costs:,NaN,NaN,NaN
Cost of goods sold,29082,36630,36997
"Selling, general and administrative expenses",4642,5162,5478
Research and development expenses,1415,1693,1850
Total operating costs,37195,45510,46429
Operating profit,4553,8290,8293
Profit (loss),2998,6093,6147
Profit (loss) per common share (in dollars per share),6,11,10
Profit (loss) per common share - diluted (in dollars per share),5,11,10
Weighted-average common shares outstanding (millions),NaN,NaN,NaN
Basic (in shares),544,562,591
Diluted (in shares),549,568,599
"Machinery, Energy & Transportation",NaN,NaN,NaN
Sales and revenues:,NaN,NaN,NaN
Sales and revenues,39022,50755,51822
Financial Products,NaN,NaN,NaN
Sales and revenues:,NaN,NaN,NaN
Sales and revenues,2726,3045,2900
Operating costs:,NaN,NaN,NaN
Interest Expense,589,754,722
All other excluding Financial Products,NaN,NaN,NaN
Operating costs:,NaN,NaN,NaN
Interest Expense,514,421,404
,NaN,NaN,NaN