In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from os import listdir
import re

import csv
import datetime
import pickle
import os

import calendar
import random

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)
pd.options.display.float_format = '{:.0f}'.format

In [3]:
DATA_ROOT_PATH="/mnt/data/projects/MD1/data/R1000/reports/"
PROJ_ROOT_PATH="/home/priyesh/projects/MD1"

In [4]:
# Read from Pickle file

filepath = os.path.join(PROJ_ROOT_PATH,'pickle','clean_master_data_stage2.pkl')
clean_master_data = pd.read_pickle(filepath)

In [5]:
# Read from Pickle file

filepath = os.path.join(PROJ_ROOT_PATH,'pickle','master_data_stage2.pkl')
master_data = pd.read_pickle(filepath)

In [6]:
# Read from Pickle file

filepath = os.path.join(PROJ_ROOT_PATH,'pickle','mappings_cash_stage3.pkl')
label_mappings = pd.read_pickle(filepath)

In [7]:
heading_lookup = {}
line_item_lookup = {}

stype='cash'

temp = label_mappings['headings'].to_dict()
heading_lookup[stype] = temp['type']

temp = label_mappings['line_items'].to_dict()
line_item_lookup[stype] = temp['type']

In [8]:
def find_line_items(table, heading_lookup, line_item_lookup, stype):
 
  df_new = pd.DataFrame()

  h = 'No Heading'
  items_found = []
    
  h_lookup = heading_lookup[stype]
  l_lookup = line_item_lookup[stype]
    
  items_required = list(set(l_lookup.values()))

  # Go through each line in table, if row contains only nan then assume heading

  for index, row in table.iterrows():

    if row.isnull().all():
   
      # If all columns are null then it is either a header we are interested in, a header not recognised 
      # or a line item where values are not specified.
    
      # If we encounter a header that has Member or Abstract then terminate loop and ignore subsequent items.
    
      if index in h_lookup:
        
        h = h_lookup[index]
        
        if h == 'EXCL':
          break
        else:
          r1 = row.copy()
          #r1 = r1.rename(swap_text('H',index,stype))
          r1['type'] = h
          r1['line_type'] = 'H'
          df_new = pd.concat([df_new, pd.DataFrame([r1])])
  
    else:
      # If row matches one of the items mapped for current header then store
        
      if index in l_lookup:
        
        l = l_lookup[index]
        items_found.append(l)
          
        r1 = row.copy()
        #r1.rename(swap_text('L',index,stype))
        r1['type'] = l
        r1['line_type'] = 'L'
        df_new = pd.concat([df_new, pd.DataFrame([r1])])
        
    if re.search('Cash and Cash Equivalent At End Of Year$',index,re.IGNORECASE): 
        break
        
    if re.search('End Of Period$',index,re.IGNORECASE): 
        break
 
  return(df_new)

In [9]:
def extract_summary(stype):
    
  ticker_list = list(clean_master_data.keys())

  master_statements = {}

  for ticker in ticker_list:

    master_statements[ticker] = {}
    print(ticker)
    
    for yr in clean_master_data[ticker]:
    
      # Extract statement for each year
    
      master_statements[ticker]
      if stype in clean_master_data[ticker][yr]:
        
        master_statements[ticker][yr] = find_line_items(clean_master_data[ticker][yr][stype]['table'],
                                                          heading_lookup,line_item_lookup,stype)
  return master_statements

In [10]:
def conv_date_cols(cols):
    
  mnth_lookup = {month: index for index, month in enumerate(calendar.month_abbr) if month}

  new_cols = []

  for c in cols:
    
    x = re.search(r"^[A-Z][a-z][a-z]\. \d{2}, \d{4}", c)
    
    if x:
      mnth = mnth_lookup[c.split(".")[0]]
      yr = c[-4:]
      t = yr + '-' + str(mnth)
      new_cols = new_cols + [t]
    else:
      new_cols = new_cols + [c] 

  return new_cols

In [11]:
def find_duplicates(df1):

  df_temp = df1.copy()
  df_temp = df_temp.reset_index(names=['line_item'])
  df_dup = df_temp[df_temp.duplicated(subset=['line_item','line_type'])]

  return df_dup

In [12]:
def extract_statements(stype, master_summary_data):
    
  ticker_list = list(master_summary_data.keys())

  master_statements = {}

  for ticker in master_summary_data:
    
    print(ticker)
    statement = master_summary_data[ticker]
    keys = list(statement.keys())
    
    if len(keys) > 0:
                                            
      keys = sorted(keys,reverse=True)
      df = statement[keys[0]].copy()
      df = df[~df.index.duplicated(keep='first')]

      for i in range(1,len(keys)):
        
        print("Building Table for",ticker,i)
        
        df1_cols = list(set(statement[keys[i]].columns)- set(df.columns))
        df1 = statement[keys[i]][df1_cols].copy()
        df1 = df1[~df1.index.duplicated(keep='first')] 
        df = df.merge(df1, right_index=True, left_index=True, how='left', suffixes=['_x', '_y'])  
    
      # We could end up with an empty dataframe if there are no matches. So skip if that is the case.
     
      if len(df) > 0:
        # Amend date format of column names
        
        cols = list(df.columns)
        new_cols = conv_date_cols(cols)
        df.columns = new_cols

        # Sort in reverse date order, place type and line_type at end
    
        new_cols.remove('type')
        new_cols.remove('line_type')
        cols = sorted(new_cols,reverse=True) + ['type','line_type']
        df = df[cols]
        
      master_statements[ticker] = df

  return master_statements

In [13]:
df1 = clean_master_data['AEE']['18']['cash']['table']
df1

,"Dec. 31, 2017","Dec. 31, 2016","Dec. 31, 2015"
line_item,,,
Income From Continuing Operations,NaN,NaN,NaN
Net Income,529,659,636
"-Income Loss From Discontinued Operations, Net Of Tax",0,0,-51
Adjustments To Reconcile Net Income,NaN,NaN,NaN
Provision For Callaway Construction And Operating License,0,0,69
Depreciation And Amortization,876,835,777
Amortization Of Nuclear Fuel,76,88,97
Amortization Of Debt Issuance Costs And Premium/Discounts,22,22,22
"Deferred Income Taxes And Investment Tax Credits, Net",539,386,369
Allowance For Equity Funds Used During Construction,-24,-27,-30
Stock-Based Compensation,17,17,24
Other,-10,4,-10
Changes In Assets And Liabilities:,NaN,NaN,NaN
Receivables,-53,-71,83
Inventories,17,11,-14
Accounts And Wages Payable,32,19,-2
Taxes Accrued,55,13,-22
Regulatory Assets And Liabilities,36,215,94
"Assets, Other",20,-22,46
"Liabilities, Other",-7,-9,-44
Pension And Other Postretirement Benefits,-21,-16,-9
Net Cash Provided By Operating Activities Continuing Operations,2104,2124,2035
Net Cash Provided By Operating Activities Discontinued Operations,0,-1,-4
Net Cash Provided By Operating Activities,2104,2123,2031
Cash Flow From Investing,NaN,NaN,NaN
Capital Expenditure,-2132,-2076,-1917
Nuclear Fuel Expenditures,-63,-55,-52
Purchases Of Securities Nuclear Decommissioning Trust Fund,-413,-392,-363
Sales And Maturities Of Securities Nuclear Decommissioning Trust Fund,396,377,349
Other,7,5,32
Net Cash Used In Investing Activities Continuing Operations,-2205,-2141,-1951
Net Cash Used In Investing Activities Discontinued Operations,0,0,-25
Net Cash Used In Investing Activities,-2205,-2141,-1976
Cash Flows From Financing Activities,NaN,NaN,NaN
Divdends,-431,-416,-402
Dividends Paid To Noncontrolling Interest Holders,-6,-6,-6
"Short-Term Debt, Net",-74,257,-413
"Maturities, Redemptions, And Repurchases Of Long-Term Debt",-681,-395,-120
Issuances Of Long-Term Debt,1345,389,1197
Capital Issuance Costs,-11,-9,-12
Share-Based Payments,-39,-83,-12
Other,-1,-2,0
Net Cash Provided By Used In Financing Activities,102,-265,232
Net Change In Cash And Cash Equivalents,1,-283,287
Total Cash and Cash Equivalent At Begining Of Period,9,292,5
Cash and Cash Equivalent At End Of Year,10,9,292
Cash Paid Refunded During The Year:,NaN,NaN,NaN
Interest Net Of Capitalized,370,358,335
"Income Taxes, Net",-19,-12,-15
Union Electric Company,NaN,NaN,NaN
Income From Continuing Operations,NaN,NaN,NaN
Net Income,326,360,355
Adjustments To Reconcile Net Income,NaN,NaN,NaN
Provision For Callaway Construction And Operating License,0,0,69
Depreciation And Amortization,514,506,476
Amortization Of Nuclear Fuel,76,88,97
Amortization Of Debt Issuance Costs And Premium/Discounts,6,6,6
"Deferred Income Taxes And Investment Tax Credits, Net",82,179,82
Allowance For Equity Funds Used During Construction,-21,-23,-22
Other,4,5,2
Changes In Assets And Liabilities:,NaN,NaN,NaN
Receivables,-46,5,72
Inventories,18,-4,-39
Accounts And Wages Payable,27,-18,3
Taxes Accrued,-1,11,1
Regulatory Assets And Liabilities,26,84,117
"Assets, Other",30,-25,26
"Liabilities, Other",-23,-1,4
Pension And Other Postretirement Benefits,-2,-4,-2
Net Cash Provided By Operating Activities,1016,1169,1247
Cash Flow From Investing,NaN,NaN,NaN
Capital Expenditure,-773,-738,-622
Nuclear Fuel Expenditures,-63,-55,-52
Purchases Of Securities Nuclear Decommissioning Trust Fund,-413,-392,-363
Sales And Maturities Of Securities Nuclear Decommissioning Trust Fund,396,377,349
"Money Pool Advances, Net",161,-125,-36
Other,7,-1,0
Net Cash Used In Investing Activities,-685,-934,-724
Cash Flows From Financing Activities,NaN,NaN,NaN
Divdends,-362,-355,-575
Dividends On Preferred Stock,-3,-3,-3
"Short-Term Debt, Net",39,0,-97
"Maturities, Redemptions, And Repurchases Of Long-Term Debt",-431,-266,-120
Issuances Of Long-Term Debt,399,149,249
Capital Issuance Costs,-3,-3,-3
Capital Contribution From Parent,30,44,224
Net Cash Provided By Used In Financing Activities,-331,-434,-325
Net Change In Cash And Cash Equivalents,0,-199,198
Total Cash and Cash Equivalent At Begining Of Period,0,199,1
Cash and Cash Equivalent At End Of Year,0,0,199
Noncash Or Part Noncash Capital Contribution From Parent,0,0,38
Cash Paid Refunded During The Year:,NaN,NaN,NaN
Interest Net Of Capitalized,202,209,212
"Income Taxes, Net",178,27,72
Ameren Illinois Company,NaN,NaN,NaN
Income From Continuing Operations,NaN,NaN,NaN
Net Income,271,255,217
Adjustments To Reconcile Net Income,NaN,NaN,NaN
Depreciation And Amortization,341,318,292
Amortization Of Debt Issuance Costs And Premium/Discounts,13,14,14
"Deferred Income Taxes And Investment Tax Credits, Net",171,154,221
Allowance For Equity Funds Used During Construction,-3,-4,-8
Other,0,-1,-14
Changes In Assets And Liabilities:,NaN,NaN,NaN
Receivables,-7,-72,16
Inventories,-1,15,25
Accounts And Wages Payable,19,12,37
Taxes Accrued,18,1,-2
Regulatory Assets And Liabilities,16,120,-26
"Assets, Other",-15,-3,17
"Liabilities, Other",3,-5,-27
Pension And Other Postretirement Benefits,-14,-8,-4
"Counterparty Collateral, Net",0,3,-3
Net Cash Provided By Operating Activities,815,803,763
Cash Flow From Investing,NaN,NaN,NaN
Capital Expenditure,-1076,-924,-918
Other,6,6,5
Net Cash Used In Investing Activities,-1070,-918,-913
Cash Flows From Financing Activities,NaN,NaN,NaN
Divdends,0,-110,0
Dividends On Preferred Stock,-3,-3,-3
"Short-Term Debt, Net",11,51,-32
"Money Pool Borrowings, Net",0,0,-15
"Maturities, Redemptions, And Repurchases Of Long-Term Debt",-250,-129,0
Issuances Of Long-Term Debt,496,240,248
Capital Issuance Costs,-6,-4,-3
Capital Contribution From Parent,8,0,25
Other,-1,-1,0
Net Cash Provided By Used In Financing Activities,255,44,220
Net Change In Cash And Cash Equivalents,0,-71,70
Total Cash and Cash Equivalent At Begining Of Period,0,71,1
Cash and Cash Equivalent At End Of Year,0,0,71
Cash Paid Refunded During The Year:,NaN,NaN,NaN
Interest Net Of Capitalized,139,127,120
"Income Taxes, Net",-22,8,-113

In [14]:
find_line_items(df1, heading_lookup, line_item_lookup, 'cash')

,"Dec. 31, 2017","Dec. 31, 2016","Dec. 31, 2015",type,line_type
Net Income,529,659,636,NI,L
Stock-Based Compensation,17,17,24,SC,L
Net Cash Provided By Operating Activities Continuing Operations,2104,2124,2035,NCO,L
Net Cash Provided By Operating Activities,2104,2123,2031,NCO,L
Cash Flow From Investing,NaN,NaN,NaN,CFI,H
Capital Expenditure,-2132,-2076,-1917,CE,L
Net Cash Used In Investing Activities Continuing Operations,-2205,-2141,-1951,NCI,L
Net Cash Used In Investing Activities,-2205,-2141,-1976,NCI,L
Cash Flows From Financing Activities,NaN,NaN,NaN,CFF,H
Net Cash Provided By Used In Financing Activities,102,-265,232,NCF,L

In [15]:
# Create lookup dictionaries

swap_text_dict = {}

swap_text_dict['H'] = {}
swap_text_dict['L'] = {}

In [16]:
cash_summary = extract_summary('cash')

AA
AAL
AAP
AAPL
ABBV
ABNB
ABT
ACGL
ACHC
ACI
ACM
ACN
ADBE
ADI
ADM
ADP
ADSK
ADT
AEE
AEP
AES
AFG
AFL
AFRM
AGCO
AGL
AGNC
AGO
AGR
AIG
AIZ
AJG
AKAM
AL
ALB
ALGM
ALGN
ALK
ALL
ALLE
ALLY
ALNY
ALSN
AM
AMAT
AMC
AMCR
AMD
AME
AMED
AMG
AMGN
AMP
AMZN
AN
ANET
ANSS
AON
AOS
APA
APD
APH
APO
APP
APTV
AR
ARES
ARMK
ARW
ASH
ATO
ATR
ATUS
ATVI
AVGO
AVT
AVTR
AWI
AWK
AXON
AXS
AXTA
AYI
AYX
AZEK
AZO
AZTA
BA
BAC
BAH
BALL
BAX
BBWI
BBY
BC
BDX
BEN
BERY
BFAM
BG
BHF
BIIB
BILL
BIO
BJ
BK
BKNG
BLD
BLDR
BLK
BMRN
BMY
BOKF
BR
BRKR
BRO
BSX
BSY
BURL
BWA
BWXT
BX
BYD
C
CABO
CACC
CAH
CAR
CARR
CAT
CB
CBOE
CBSH
CC
CCCS
CCK
CCL
CDAY
CDNS
CDW
CE
CEG
CERT
CF
CFG
CFLT
CFR
CG
CGNX
CHD
CHDN
CHE
CHH
CHPT
CHRW
CHTR
CIEN
CINF
CL
CLH
CLVT
CLX
CMA
CMCSA
CME
CMG
CMI
CMS
CNA
CNM
CNP
CNXC
COF
COIN
COLB
COLM
COO
COST
COTY
CPB
CPRI
CPRT
CR
CRI
CRL
CRUS
CRWD
CSCO
CSL
CTLT
CTRA
CTSH
CTVA
CVNA
CVX
CW
CZR
D
DAL
DAR
DASH
DBX
DCI
DD
DDOG
DECK
DFS
DG
DGX
DHI
DHR
DINO
DIS
DISH
DKNG
DKS
DLB
DLTR
DNA
DOCS
DOCU
DOV
DOW
DPZ
DRVN
DT
DTE
DTM
DUK
DV
DVA
DVN
DXC
DXCM
EA
EBAY
ECL
ED
EEFT
EFX
EHAB
EHC
EIX
EL
ELAN
EMN
EMR
ENOV
ENPH
ENTG
EOG
EPAM
EQH
EQT
ERIE
ES
ESAB
ESI
ESTC
ETN
ETR
ETSY
EVA
EVR
EVRG
EW
EWBC
EXAS
EXC
EXEL
EXP
EXPD
EXPE
F
FAF
FANG
FAST
FCN
FCNCA
FCX
FDS
FE
FFIV
FG
FHB
FHN
FICO
FIS
FISV
FITB
FIVE
FIVN
FLO
FLS
FLT
FMC
FNB
FND
FNF
FOUR
FOX
FRPT
FSLR
FTNT
FTV
G
GD
GDDY
GE
GGG
GILD
GL
GLW
GM
GME
GMED
GNRC
GNTX
GO
GOOG
GOOGL
GPC
GPK
GPN
GPS
GRMN
GS
GTES
GWRE
GWW
GXO
H
HAL
HAS
HAYW
HBAN
HBI
HCA
HD
HE
HEI
HES
HIG
HII
HLT
HOG
HOLX
HON
HPE
HPP
HPQ
HRL
HSIC
HSY
HTZ
HUBB
HUBS
HUN
HWM
HXL
HZNP
IAC
IART
IBKR
IBM
ICE
ICUI
IDA
IDXX
IEX
IFF
ILMN
INCY
INFA
INGR
INTC
INTU
IONS
IP
IPG
IPGP
IQV
IR
ISRG
IT
ITT
ITW
IVZ
J
JAMF
JAZZ
JBHT
JBL
JBLU
JCI
JEF
JHG
JKHY
JNJ
JNPR
JPM
JWN
K
KBR
KDP
KEX
KEY
KEYS
KHC
KKR
KLAC
KMB
KMI
KMPR
KMX
KNX
KO
KR
KSS
L
LAD
LAZ
LBRDA
LCID
LDOS
LEA
LECO
LEG
LEN
LESL
LFUS
LH
LHX
LII
LITE
LKQ
LLY
LMT
LNC
LNG
LNT
LOPE
LOW
LPLA
LPX
LRCX
LSCC
LSTR
LULU
LUMN
LUV
LVS
LYB
LYFT
LYV
M
MA
MAN
MANH
MAR
MAS
MASI
MAT
MCD
MCHP
MCK
MCO
MCW
MDB
MDLZ
MDT
MDU
MET
META
MGM
MHK
MIDD
MKC
MKL
MKSI
MKTX
MLM
MMC
MMM
MNST
MO
MORN
MOS
MP
MPC
MPWR
MRCY
MRK
MRNA
MRO
MRTX
MRVI
MRVL
MS
MSA
MSCI
MSFT
MSGS
MSI
MSM
MTB
MTCH
MTD
MTG
MTN
MTZ
MU
NATI
NBIX
NCLH
NCNO
NCR
NDAQ
NDSN
NEE
NEM
NET
NEU
NEWR
NFE
NFG
NFLX
NI
NLY
NOC
NOV
NOW
NRG
NSC
NTAP
NTNX
NTRA
NTRS
NUE
NVAX
NVCR
NVDA
NVR
NVST
NVT
NWL
NWS
NXST
NYCB
NYT
OC
ODFL
OGE
OGN
OKE
OKTA
OLED
OLLI
OLN
OLPX
OMC
OMF
ON
ORI
ORLY
OSH
OTIS
OVV
OWL
OXY
PACW
PAG
PANW
PARA
PATH
PAYC
PB
PCAR
PCG
PCOR
PCTY
PDCE
PEG
PEGA
PEN
PENN
PEP
PFE
PFG
PFGC
PG
PGR
PH
PHM
PII
PINC
PINS
PKG
PKI
PLNT
PLTK
PLTR
PLUG
PM
PNC
PNFP
PNR
PNW
PODD
POOL
POST
PPC
PPG
PPL
PRGO
PRI
PRU
PSTG
PSX
PTC
PTON
PVH
PWR
PXD
PYPL
QCOM
QDEL
QRVO
QS
RARE
RE
REGN
REYN
RF
RGA
RGEN
RH
RJF
RL
RMD
RNG
RNR
RRC
RRX
RS
RSG
RTX
RUN
S
SAM
SBUX
SCCO
SCHW
SCI
SEB
SEE
SEIC
SF
SGEN
SHC
SHW
SIRI
SITE
SIX
SJM
SKX
SLB
SLGN
SMAR
SMG
SNA
SNDR
SNOW
SNPS
SNV
SNX
SO
SOFI
SON
SPB
SPLK
SPR
SQ
SRCL
SRE
SSNC
SSRM
ST
STE
STLD
STT
STWD
STZ
SWK
SWKS
SWN
SYF
SYK
SYNH
SYY
T
TAP
TDC
TDG
TDOC
TDY
TECH
TER
TFC
TFSL
TFX
TGT
THC
THG
THO
TJX
TKR
TMO
TMUS
TNDM
TNL
TOL
TOST
TPL
TPR
TPX
TREX
TRGP
TRIP
TRMB
TROW
TRU
TRV
TSCO
TSLA
TSN
TT
TTC
TTD
TTEK
TTWO
TW
TWKS
TWLO
TXG
TXN
TXT
TYL
U
UAL
UBER
UGI
UHS
UI
ULTA
UNM
UNP
UNVR
UPS
UPST
URI
USB
USFD
UTHR
UWMC
V
VAC
VEEV
VFC
VIRT
VLO
VMC
VMI
VMW
VNT
VOYA
VRSK
VRSN
VRT
VRTX
VSAT
VSCO
VST
VTRS
VVV
VZ
W
WAB
WAL
WAT
WBA
WBD
WBS
WCC
WDAY
WDC
WEC
WEN
WEX
WFC
WH
WHR
WLK
WM
WMB
WMS
WMT
WOLF
WOOF
WRB
WRK
WSC
WSM
WSO
WST
WTFC
WTM
WTRG
WTW
WU
WWD
WWE
WYNN
X
XEL
XOM
XPO
XRAY
XYL
YETI
YUM
Z
ZBRA

In [20]:
len(cash_summary)

833

In [21]:
cash_summary['NFG']['22']

,"Sep. 30, 2022","Sep. 30, 2021","Sep. 30, 2020",type,line_type
Operating Activities,NaN,NaN,NaN,CFO,H
Stock-Based Compensation,19506,17065,14931,SC,L
Net Cash Provided By Operating Activities,812521,791553,740809,NCO,L
Investing Activities,NaN,NaN,NaN,CFI,H
Capital Expenditure,-811826,-751734,-716153,CE,L
Net Cash Used In Investing Activities,-518704,-633217,-1223616,NCI,L
Financing Activities,NaN,NaN,NaN,CFF,H
Net Repurchases Of Common Stock,-9590,-3702,NaN,SBB,L
Net Cash Provided By Used In Financing Activities,-276237,-58739,476088,NCF,L

In [22]:
dups_list = []
tickers_with_dups = {}

ticker_list = list(cash_summary.keys())

for ticker in ticker_list:
  
  print(ticker)
    
  for yr in cash_summary[ticker]:
    
    df_dup = find_duplicates(cash_summary[ticker][yr])
    
    if len(df_dup) > 0:
       
       dups = {}
       dups['yr'] = yr
       dups['df_orig'] = cash_summary[ticker][yr]
       dups['df_dup']  = df_dup
        
       tickers_with_dups[ticker] = dups

AA
AAL
AAP
AAPL
ABBV
ABNB
ABT
ACGL
ACHC
ACI
ACM
ACN
ADBE
ADI
ADM
ADP
ADSK
ADT
AEE
AEP
AES
AFG
AFL
AFRM
AGCO
AGL
AGNC
AGO
AGR
AIG
AIZ
AJG
AKAM
AL
ALB
ALGM
ALGN
ALK
ALL
ALLE
ALLY
ALNY
ALSN
AM
AMAT
AMC
AMCR
AMD
AME
AMED
AMG
AMGN
AMP
AMZN
AN
ANET
ANSS
AON
AOS
APA
APD
APH
APO
APP
APTV
AR
ARES
ARMK
ARW
ASH
ATO
ATR
ATUS
ATVI
AVGO
AVT
AVTR
AWI
AWK
AXON
AXS
AXTA
AYI
AYX
AZEK
AZO
AZTA
BA
BAC
BAH
BALL
BAX
BBWI
BBY
BC
BDX
BEN
BERY
BFAM
BG
BHF
BIIB
BILL
BIO
BJ
BK
BKNG
BLD
BLDR
BLK
BMRN
BMY
BOKF
BR
BRKR
BRO
BSX
BSY
BURL
BWA
BWXT
BX
BYD
C
CABO
CACC
CAH
CAR
CARR
CAT
CB
CBOE
CBSH
CC
CCCS
CCK
CCL
CDAY
CDNS
CDW
CE
CEG
CERT
CF
CFG
CFLT
CFR
CG
CGNX
CHD
CHDN
CHE
CHH
CHPT
CHRW
CHTR
CIEN
CINF
CL
CLH
CLVT
CLX
CMA
CMCSA
CME
CMG
CMI
CMS
CNA
CNM
CNP
CNXC
COF
COIN
COLB
COLM
COO
COST
COTY
CPB
CPRI
CPRT
CR
CRI
CRL
CRUS
CRWD
CSCO
CSL
CTLT
CTRA
CTSH
CTVA
CVNA
CVX
CW
CZR
D
DAL
DAR
DASH
DBX
DCI
DD
DDOG
DECK
DFS
DG
DGX
DHI
DHR
DINO
DIS
DISH
DKNG
DKS
DLB
DLTR
DNA
DOCS
DOCU
DOV
DOW
DPZ
DRVN
DT
DTE
DTM
DUK
DV
DVA
DVN
DXC
DXCM
EA
EBAY
ECL
ED
EEFT
EFX
EHAB
EHC
EIX
EL
ELAN
EMN
EMR
ENOV
ENPH
ENTG
EOG
EPAM
EQH
EQT
ERIE
ES
ESAB
ESI
ESTC
ETN
ETR
ETSY
EVA
EVR
EVRG
EW
EWBC
EXAS
EXC
EXEL
EXP
EXPD
EXPE
F
FAF
FANG
FAST
FCN
FCNCA
FCX
FDS
FE
FFIV
FG
FHB
FHN
FICO
FIS
FISV
FITB
FIVE
FIVN
FLO
FLS
FLT
FMC
FNB
FND
FNF
FOUR
FOX
FRPT
FSLR
FTNT
FTV
G
GD
GDDY
GE
GGG
GILD
GL
GLW
GM
GME
GMED
GNRC
GNTX
GO
GOOG
GOOGL
GPC
GPK
GPN
GPS
GRMN
GS
GTES
GWRE
GWW
GXO
H
HAL
HAS
HAYW
HBAN
HBI
HCA
HD
HE
HEI
HES
HIG
HII
HLT
HOG
HOLX
HON
HPE
HPP
HPQ
HRL
HSIC
HSY
HTZ
HUBB
HUBS
HUN
HWM
HXL
HZNP
IAC
IART
IBKR
IBM
ICE
ICUI
IDA
IDXX
IEX
IFF
ILMN
INCY
INFA
INGR
INTC
INTU
IONS
IP
IPG
IPGP
IQV
IR
ISRG
IT
ITT
ITW
IVZ
J
JAMF
JAZZ
JBHT
JBL
JBLU
JCI
JEF
JHG
JKHY
JNJ
JNPR
JPM
JWN
K
KBR
KDP
KEX
KEY
KEYS
KHC
KKR
KLAC
KMB
KMI
KMPR
KMX
KNX
KO
KR
KSS
L
LAD
LAZ
LBRDA
LCID
LDOS
LEA
LECO
LEG
LEN
LESL
LFUS
LH
LHX
LII
LITE
LKQ
LLY
LMT
LNC
LNG
LNT
LOPE
LOW
LPLA
LPX
LRCX
LSCC
LSTR
LULU
LUMN
LUV
LVS
LYB
LYFT
LYV
M
MA
MAN
MANH
MAR
MAS
MASI
MAT
MCD
MCHP
MCK
MCO
MCW
MDB
MDLZ
MDT
MDU
MET
META
MGM
MHK
MIDD
MKC
MKL
MKSI
MKTX
MLM
MMC
MMM
MNST
MO
MORN
MOS
MP
MPC
MPWR
MRCY
MRK
MRNA
MRO
MRTX
MRVI
MRVL
MS
MSA
MSCI
MSFT
MSGS
MSI
MSM
MTB
MTCH
MTD
MTG
MTN
MTZ
MU
NATI
NBIX
NCLH
NCNO
NCR
NDAQ
NDSN
NEE
NEM
NET
NEU
NEWR
NFE
NFG
NFLX
NI
NLY
NOC
NOV
NOW
NRG
NSC
NTAP
NTNX
NTRA
NTRS
NUE
NVAX
NVCR
NVDA
NVR
NVST
NVT
NWL
NWS
NXST
NYCB
NYT
OC
ODFL
OGE
OGN
OKE
OKTA
OLED
OLLI
OLN
OLPX
OMC
OMF
ON
ORI
ORLY
OSH
OTIS
OVV
OWL
OXY
PACW
PAG
PANW
PARA
PATH
PAYC
PB
PCAR
PCG
PCOR
PCTY
PDCE
PEG
PEGA
PEN
PENN
PEP
PFE
PFG
PFGC
PG
PGR
PH
PHM
PII
PINC
PINS
PKG
PKI
PLNT
PLTK
PLTR
PLUG
PM
PNC
PNFP
PNR
PNW
PODD
POOL
POST
PPC
PPG
PPL
PRGO
PRI
PRU
PSTG
PSX
PTC
PTON
PVH
PWR
PXD
PYPL
QCOM
QDEL
QRVO
QS
RARE
RE
REGN
REYN
RF
RGA
RGEN
RH
RJF
RL
RMD
RNG
RNR
RRC
RRX
RS
RSG
RTX
RUN
S
SAM
SBUX
SCCO
SCHW
SCI
SEB
SEE
SEIC
SF
SGEN
SHC
SHW
SIRI
SITE
SIX
SJM
SKX
SLB
SLGN
SMAR
SMG
SNA
SNDR
SNOW
SNPS
SNV
SNX
SO
SOFI
SON
SPB
SPLK
SPR
SQ
SRCL
SRE
SSNC
SSRM
ST
STE
STLD
STT
STWD
STZ
SWK
SWKS
SWN
SYF
SYK
SYNH
SYY
T
TAP
TDC
TDG
TDOC
TDY
TECH
TER
TFC
TFSL
TFX
TGT
THC
THG
THO
TJX
TKR
TMO
TMUS
TNDM
TNL
TOL
TOST
TPL
TPR
TPX
TREX
TRGP
TRIP
TRMB
TROW
TRU
TRV
TSCO
TSLA
TSN
TT
TTC
TTD
TTEK
TTWO
TW
TWKS
TWLO
TXG
TXN
TXT
TYL
U
UAL
UBER
UGI
UHS
UI
ULTA
UNM
UNP
UNVR
UPS
UPST
URI
USB
USFD
UTHR
UWMC
V
VAC
VEEV
VFC
VIRT
VLO
VMC
VMI
VMW
VNT
VOYA
VRSK
VRSN
VRT
VRTX
VSAT
VSCO
VST
VTRS
VVV
VZ
W
WAB
WAL
WAT
WBA
WBD
WBS
WCC
WDAY
WDC
WEC
WEN
WEX
WFC
WH
WHR
WLK
WM
WMB
WMS
WMT
WOLF
WOOF
WRB
WRK
WSC
WSM
WSO
WST
WTFC
WTM
WTRG
WTW
WU
WWD
WWE
WYNN
X
XEL
XOM
XPO
XRAY
XYL
YETI
YUM
Z
ZBRA

In [23]:
tickers_with_dups.keys()

dict_keys(['AAL', 'AEE', 'AGO', 'AGR', 'AIZ', 'APD', 'APTV', 'ARES', 'BMRN', 'BWA', 'BYD', 'COTY', 'D', 'DTE', 'ECL', 'ED', 'ES', 'ETSY', 'FAF', 'FCX', 'FISV', 'FIVN', 'FNF', 'GD', 'GE', 'GL', 'HAL', 'HE', 'HON', 'HUN', 'IAC', 'ICUI', 'IQV', 'KBR', 'KMPR', 'KR', 'LHX', 'LLY', 'MRNA', 'NEE', 'NFG', 'OLED', 'PAYC', 'PCG', 'PNR', 'POOL', 'PPL', 'PRI', 'SRE', 'STZ', 'TMO', 'TMUS', 'TOST', 'TRU', 'TTD', 'TXT', 'VAC', 'VIRT', 'VLO', 'VOYA', 'VRSK', 'W', 'WCC', 'WFC', 'WH', 'WMS', 'WTM', 'X', 'YUM'])

In [24]:
len(tickers_with_dups)

69

In [28]:
ticker='TMUS'
yr = tickers_with_dups[ticker]['yr']
tickers_with_dups[ticker]['df_dup']

,line_item,"Dec. 31, 2013","Dec. 31, 2012","Dec. 31, 2011",type,line_type
4,Net Cash Provided By Operating Activities,3545,3862,4980,NCO,L

In [29]:
tickers_with_dups[ticker]['df_orig']

,"Dec. 31, 2013","Dec. 31, 2012","Dec. 31, 2011",type,line_type
Operating Activities,NaN,NaN,NaN,CFO,H
Net Income,35,-7336,-4718,NI,L
Stock-Based Compensation,100,0,0,SC,L
Net Cash Provided By Operating Activities,141,50,196,NCO,L
Net Cash Provided By Operating Activities,3545,3862,4980,NCO,L
Investing Activities,NaN,NaN,NaN,CFI,H
Purchases Of Property And Equipment,-4025,-2901,-2729,PPE,L
Net Cash Used In Investing Activities,-2092,-3915,-4699,NCI,L
Financing Activities,NaN,NaN,NaN,CFF,H
Net Cash Provided By Financing Activities,4044,57,0,NCF,L

In [30]:
df1 = clean_master_data[ticker][yr]['cash']['table']
df1

,"Dec. 31, 2013","Dec. 31, 2012","Dec. 31, 2011"
line_item,,,
Operating Activities,NaN,NaN,NaN
Net Income,35,-7336,-4718
Adjustments To Reconcile Net Income,NaN,NaN,NaN
Impairment Charges,0,8134,6420
Depreciation And Amortization,3627,3187,2982
Stock-Based Compensation,100,0,0
Deferred Income Tax Expense Benefit,10,308,-233
"Amortization Of Debt Discount And Premium, Net",-62,-81,-84
Bad Debt Expense,463,702,713
Deferred Rent Expense,229,206,218
"Losses Gains And Other, Net",209,-258,-43
Changes In Operating Assets And Liabilities,NaN,NaN,NaN
Accounts Receivable,-1315,-700,-558
Inventory,42,-2,166
Other Current And Long-Term Assets,-545,-316,-182
Accounts Payable And Accrued Liabilities,611,-32,103
Net Cash Provided By Operating Activities,141,50,196
Net Cash Provided By Operating Activities,3545,3862,4980
Investing Activities,NaN,NaN,NaN
Purchases Of Property And Equipment,-4025,-2901,-2729
Purchases Of Intangible Assets,-381,-387,-23
"Short Term Affiliate Loan Receivable, Net",300,-651,-2005
Proceeds From Disposals Of Property And Equipment And Intangible Assets,3,51,2
Cash And Cash Equivalents Acquired In Metropcs Business Combination,2144,0,0
"Payments To Acquire Financial Assets, Net",0,-5,73
Change In Restricted Cash Equivalents,-100,0,0
"Investments In Unconsolidated Affiliates, Net",-33,-22,-17
Net Cash Used In Investing Activities,-2092,-3915,-4699
Financing Activities,NaN,NaN,NaN
Proceeds From Issuance Of Long-Term Debt,2494,0,0
Proceeds From Issuance Of Common Stock In Connection With Public Offering,1787,0,0
Proceeds From Financial Obligation,0,2469,0
Repayments Of Short-Term Debt For Purchases Of Property And Equipment,-244,0,0
Repayments Related To A Variable Interest Entity,-80,-9,0
Distribution To Affiliate,-41,-2403,0
Proceeds From Exercise Of Stock Options,137,0,0
"Other, Net",-9,0,0
Net Cash Provided By Financing Activities,4044,57,0
Change In Cash And Cash Equivalents,5497,4,281
Cash and Cash Equivalent,NaN,NaN,NaN
Beginning Of Year,394,390,109
End Of Year,5891,394,390

In [31]:
master_data[ticker][yr]['cash']

      Consolidated Statements of Cash Flows (USD $) In Millions, unless otherwise specified  \
      Consolidated Statements of Cash Flows (USD $) In Millions, unless otherwise specified
0                                                                      Operating activities
1                                                                         Net income (loss)
2   Adjustments to reconcile net income (loss) to net cash provided by operating activities
3                                                                        Impairment charges
4                                                             Depreciation and amortization
5                                                          Stock-based compensation expense
6                                                     Deferred income tax expense (benefit)
7                                            Amortization of debt discount and premium, net
8                                                                          Bad debt expense
9                                                                     Deferred rent expense
10                                                            Losses (gains) and other, net
11                                              Changes in operating assets and liabilities
12                                                                      Accounts receivable
13                                                                                Inventory
14                                                       Other current and long-term assets
15                                                 Accounts payable and accrued liabilities
16                                                Net cash provided by operating activities
17                                                Net cash provided by operating activities
18                                                                     Investing activities
19                                                      Purchases of property and equipment
20                                                           Purchases of intangible assets
21                                                Short term affiliate loan receivable, net
22                  Proceeds from disposals of property and equipment and intangible assets
23                      Cash and cash equivalents acquired in MetroPCS business combination
24                                                Payments to acquire financial assets, net
25                                                    Change in restricted cash equivalents
26                                            Investments in unconsolidated affiliates, net
27                                                    Net cash used in investing activities
28                                                                     Financing activities
29                                                 Proceeds from issuance of long-term debt
30                Proceeds from issuance of common stock in connection with public offering
31                                                       Proceeds from financial obligation
32                    Repayments of short-term debt for purchases of property and equipment
33                                         Repayments related to a variable interest entity
34                                                                Distribution to affiliate
35                                                  Proceeds from exercise of stock options
36                                                                               Other, net
37                                                Net cash provided by financing activities
38                                                      Change in cash and cash equivalents
39                                                                Cash and cash equivalents
40                                                                        Beginning of year
41                                                                              End of year

   12 Months Ended
     Dec. 31, 2013 Dec. 31, 2012 Dec. 31, 2011
0              NaN           NaN           NaN
1             $ 35     $ (7,336)     $ (4,718)
2              NaN           NaN           NaN
3                0          8134          6420
4             3627          3187          2982
5              100             0             0
6               10           308         (233)
7             (62)          (81)          (84)
8              463           702           713
9              229           206           218
10             209         (258)          (43)
11             NaN           NaN           NaN
12         (1,315)         (700)         (558)
13              42           (2)           166
14           (545)         (316)         (182)
15             611          (32)           103
16             141            50           196
17            3545          3862          4980
18             NaN           NaN           NaN
19         (4,025)       (2,901)       (2,729)
20           (381)         (387)          (23)
21             300         (651)       (2,005)
22               3            51             2
23            2144             0             0
24               0           (5)            73
25           (100)             0             0
26            (33)          (22)          (17)
27         (2,092)       (3,915)       (4,699)
28             NaN           NaN           NaN
29            2494             0             0
30            1787             0             0
31               0          2469             0
32           (244)             0             0
33            (80)           (9)             0
34            (41)       (2,403)             0
35             137             0             0
36             (9)             0             0
37            4044            57             0
38            5497             4           281
39             NaN           NaN           NaN
40             394           390           109
41         $ 5,891         $ 394         $ 390

In [32]:
# Remove companies with duplicates

for ticker in tickers_with_dups.keys():
   print(ticker)
   clean_master_data.pop(ticker)

AAL
AEE
AGO
AGR
AIZ
APD
APTV
ARES
BMRN
BWA
BYD
COTY
D
DTE
ECL
ED
ES
ETSY
FAF
FCX
FISV
FIVN
FNF
GD
GE
GL
HAL
HE
HON
HUN
IAC
ICUI
IQV
KBR
KMPR
KR
LHX
LLY
MRNA
NEE
NFG
OLED
PAYC
PCG
PNR
POOL
PPL
PRI
SRE
STZ
TMO
TMUS
TOST
TRU
TTD
TXT
VAC
VIRT
VLO
VOYA
VRSK
W
WCC
WFC
WH
WMS
WTM
X
YUM

In [33]:
# Repeat the extraction. This time we shouldn't have any duplicates.

cash_summary = extract_summary('cash')

AA
AAP
AAPL
ABBV
ABNB
ABT
ACGL
ACHC
ACI
ACM
ACN
ADBE
ADI
ADM
ADP
ADSK
ADT
AEP
AES
AFG
AFL
AFRM
AGCO
AGL
AGNC
AIG
AJG
AKAM
AL
ALB
ALGM
ALGN
ALK
ALL
ALLE
ALLY
ALNY
ALSN
AM
AMAT
AMC
AMCR
AMD
AME
AMED
AMG
AMGN
AMP
AMZN
AN
ANET
ANSS
AON
AOS
APA
APH
APO
APP
AR
ARMK
ARW
ASH
ATO
ATR
ATUS
ATVI
AVGO
AVT
AVTR
AWI
AWK
AXON
AXS
AXTA
AYI
AYX
AZEK
AZO
AZTA
BA
BAC
BAH
BALL
BAX
BBWI
BBY
BC
BDX
BEN
BERY
BFAM
BG
BHF
BIIB
BILL
BIO
BJ
BK
BKNG
BLD
BLDR
BLK
BMY
BOKF
BR
BRKR
BRO
BSX
BSY
BURL
BWXT
BX
C
CABO
CACC
CAH
CAR
CARR
CAT
CB
CBOE
CBSH
CC
CCCS
CCK
CCL
CDAY
CDNS
CDW
CE
CEG
CERT
CF
CFG
CFLT
CFR
CG
CGNX
CHD
CHDN
CHE
CHH
CHPT
CHRW
CHTR
CIEN
CINF
CL
CLH
CLVT
CLX
CMA
CMCSA
CME
CMG
CMI
CMS
CNA
CNM
CNP
CNXC
COF
COIN
COLB
COLM
COO
COST
CPB
CPRI
CPRT
CR
CRI
CRL
CRUS
CRWD
CSCO
CSL
CTLT
CTRA
CTSH
CTVA
CVNA
CVX
CW
CZR
DAL
DAR
DASH
DBX
DCI
DD
DDOG
DECK
DFS
DG
DGX
DHI
DHR
DINO
DIS
DISH
DKNG
DKS
DLB
DLTR
DNA
DOCS
DOCU
DOV
DOW
DPZ
DRVN
DT
DTM
DUK
DV
DVA
DVN
DXC
DXCM
EA
EBAY
EEFT
EFX
EHAB
EHC
EIX
EL
ELAN
EMN
EMR
ENOV
ENPH
ENTG
EOG
EPAM
EQH
EQT
ERIE
ESAB
ESI
ESTC
ETN
ETR
EVA
EVR
EVRG
EW
EWBC
EXAS
EXC
EXEL
EXP
EXPD
EXPE
F
FANG
FAST
FCN
FCNCA
FDS
FE
FFIV
FG
FHB
FHN
FICO
FIS
FITB
FIVE
FLO
FLS
FLT
FMC
FNB
FND
FOUR
FOX
FRPT
FSLR
FTNT
FTV
G
GDDY
GGG
GILD
GLW
GM
GME
GMED
GNRC
GNTX
GO
GOOG
GOOGL
GPC
GPK
GPN
GPS
GRMN
GS
GTES
GWRE
GWW
GXO
H
HAS
HAYW
HBAN
HBI
HCA
HD
HEI
HES
HIG
HII
HLT
HOG
HOLX
HPE
HPP
HPQ
HRL
HSIC
HSY
HTZ
HUBB
HUBS
HWM
HXL
HZNP
IART
IBKR
IBM
ICE
IDA
IDXX
IEX
IFF
ILMN
INCY
INFA
INGR
INTC
INTU
IONS
IP
IPG
IPGP
IR
ISRG
IT
ITT
ITW
IVZ
J
JAMF
JAZZ
JBHT
JBL
JBLU
JCI
JEF
JHG
JKHY
JNJ
JNPR
JPM
JWN
K
KDP
KEX
KEY
KEYS
KHC
KKR
KLAC
KMB
KMI
KMX
KNX
KO
KSS
L
LAD
LAZ
LBRDA
LCID
LDOS
LEA
LECO
LEG
LEN
LESL
LFUS
LH
LII
LITE
LKQ
LMT
LNC
LNG
LNT
LOPE
LOW
LPLA
LPX
LRCX
LSCC
LSTR
LULU
LUMN
LUV
LVS
LYB
LYFT
LYV
M
MA
MAN
MANH
MAR
MAS
MASI
MAT
MCD
MCHP
MCK
MCO
MCW
MDB
MDLZ
MDT
MDU
MET
META
MGM
MHK
MIDD
MKC
MKL
MKSI
MKTX
MLM
MMC
MMM
MNST
MO
MORN
MOS
MP
MPC
MPWR
MRCY
MRK
MRO
MRTX
MRVI
MRVL
MS
MSA
MSCI
MSFT
MSGS
MSI
MSM
MTB
MTCH
MTD
MTG
MTN
MTZ
MU
NATI
NBIX
NCLH
NCNO
NCR
NDAQ
NDSN
NEM
NET
NEU
NEWR
NFE
NFLX
NI
NLY
NOC
NOV
NOW
NRG
NSC
NTAP
NTNX
NTRA
NTRS
NUE
NVAX
NVCR
NVDA
NVR
NVST
NVT
NWL
NWS
NXST
NYCB
NYT
OC
ODFL
OGE
OGN
OKE
OKTA
OLLI
OLN
OLPX
OMC
OMF
ON
ORI
ORLY
OSH
OTIS
OVV
OWL
OXY
PACW
PAG
PANW
PARA
PATH
PB
PCAR
PCOR
PCTY
PDCE
PEG
PEGA
PEN
PENN
PEP
PFE
PFG
PFGC
PG
PGR
PH
PHM
PII
PINC
PINS
PKG
PKI
PLNT
PLTK
PLTR
PLUG
PM
PNC
PNFP
PNW
PODD
POST
PPC
PPG
PRGO
PRU
PSTG
PSX
PTC
PTON
PVH
PWR
PXD
PYPL
QCOM
QDEL
QRVO
QS
RARE
RE
REGN
REYN
RF
RGA
RGEN
RH
RJF
RL
RMD
RNG
RNR
RRC
RRX
RS
RSG
RTX
RUN
S
SAM
SBUX
SCCO
SCHW
SCI
SEB
SEE
SEIC
SF
SGEN
SHC
SHW
SIRI
SITE
SIX
SJM
SKX
SLB
SLGN
SMAR
SMG
SNA
SNDR
SNOW
SNPS
SNV
SNX
SO
SOFI
SON
SPB
SPLK
SPR
SQ
SRCL
SSNC
SSRM
ST
STE
STLD
STT
STWD
SWK
SWKS
SWN
SYF
SYK
SYNH
SYY
T
TAP
TDC
TDG
TDOC
TDY
TECH
TER
TFC
TFSL
TFX
TGT
THC
THG
THO
TJX
TKR
TNDM
TNL
TOL
TPL
TPR
TPX
TREX
TRGP
TRIP
TRMB
TROW
TRV
TSCO
TSLA
TSN
TT
TTC
TTEK
TTWO
TW
TWKS
TWLO
TXG
TXN
TYL
U
UAL
UBER
UGI
UHS
UI
ULTA
UNM
UNP
UNVR
UPS
UPST
URI
USB
USFD
UTHR
UWMC
V
VEEV
VFC
VMC
VMI
VMW
VNT
VRSN
VRT
VRTX
VSAT
VSCO
VST
VTRS
VVV
VZ
WAB
WAL
WAT
WBA
WBD
WBS
WDAY
WDC
WEC
WEN
WEX
WHR
WLK
WM
WMB
WMT
WOLF
WOOF
WRB
WRK
WSC
WSM
WSO
WST
WTFC
WTRG
WTW
WU
WWD
WWE
WYNN
XEL
XOM
XPO
XRAY
XYL
YETI
Z
ZBRA

In [34]:
key_list = list(cash_summary.keys())
len(key_list)

764

In [44]:
key_list = list(cash_summary.keys())
i = random.randint(0,len(key_list))
ticker=key_list[i]
print(ticker)
cash_summary[ticker]['22']

EOG

,"Dec. 31, 2021","Dec. 31, 2020","Dec. 31, 2019",type,line_type
Net Income,4664,-605,2735,NI,L
Stock-Based Compensation,152,146,175,SC,L
Net Cash Provided By Operating Activities,8791,5008,8163,NCO,L
Cash Flow From Investing,NaN,NaN,NaN,CFI,H
"Additions To Other Property, Plant And Equipment",-212,-221,-270,PPE,L
Net Cash Used In Investing Activities,-3419,-3348,-6177,NCI,L
Cash Flows From Financing Activities,NaN,NaN,NaN,CFF,H
Net Cash Used In Financing Activities,-3493,-359,-1513,NCF,L

In [45]:
print(ticker)
clean_master_data[ticker]['22']['cash']['table']

EOG

,"Dec. 31, 2021","Dec. 31, 2020","Dec. 31, 2019"
line_item,,,
Income From Continuing Operations,NaN,NaN,NaN
Net Income,4664,-605,2735
Items Not Requiring Providing Cash,NaN,NaN,NaN
"Depreciation, Depletion And Amortization",3651,3400,3750
Impairments,376,2100,518
Stock-Based Compensation,152,146,175
Deferred Income Taxes,-122,-186,632
"-Gains Losses On Asset Dispositions, Net",-17,47,-124
"Other, Net",13,12,4
Dry Hole Costs,71,13,28
Mark-To-Market Commodity Derivative Contracts,NaN,NaN,NaN
Total Gains Losses,1152,-1145,-180
Net Cash Received From Payments For Settlements Of Commodity Derivative Contracts,-638,1071,231
"Other, Net",7,1,1
Changes In Components Of Working Capital And Other Assets And Liabilities,NaN,NaN,NaN
Accounts Receivable,-821,467,-92
Inventories,-13,123,90
Accounts Payable,456,-795,169
Accrued Taxes Payable,312,-49,40
Other Assets,-136,325,358
Other Liabilities,-116,8,-57
Changes In Components Of Working Capital Associated With Investing Activities,-200,75,-115
Net Cash Provided By Operating Activities,8791,5008,8163
Cash Flow From Investing,NaN,NaN,NaN
Additions To Oil And Gas Properties,-3638,-3244,-6152
"Additions To Other Property, Plant And Equipment",-212,-221,-270
Proceeds From Sales Of Assets,231,192,140
Other Investing Activities,0,0,-10
Changes In Components Of Working Capital Associated With Investing Activities,200,-75,115
Net Cash Used In Investing Activities,-3419,-3348,-6177
Cash Flows From Financing Activities,NaN,NaN,NaN
Long-Term Debt Borrowings,0,1484,0
Long-Term Debt Repayments,-750,-1000,-900
Divdends Paid,-2684,-821,-588
Treasury Stock Purchased,-41,-16,-25
Proceeds From Stock Options Exercised And Employee Stock Purchase Plan,19,16,18
Debt Issuance Costs,0,-3,-5
Repayment Of Finance Lease Liabilities,-37,-19,-13
Net Cash Used In Financing Activities,-3493,-359,-1513
Effect Of Exchange Rate Changes On Cash,1,0,-1
Increase In Cash And Cash Equivalents,1880,1301,472
Total Cash and Cash Equivalent At Begining Of Period,3329,2028,1556
Cash and Cash Equivalent At End Of Year,5209,3329,2028
Nan,NaN,NaN,NaN

In [46]:
ticker = 'PPL'
yr=tickers_with_dups[ticker]['yr']
print(yr)
tickers_with_dups[ticker]['df_dup']

16

,line_item,"Dec. 31, 2015","Dec. 31, 2014","Dec. 31, 2013",type,line_type
3,Net Cash Provided By Used In Operating Activities,2615,3403,2856,NCO,L
7,Net Cash Provided By Used In Investing Activities,-3588,-3329,-4295,NCI,L
11,Net Cash Provided By Used In Financing Activities,68,583,1631,NCF,L

In [ ]:

df1 = clean_master_data[ticker][yr]['cash']['table']
df1

In [ ]:
master_data[ticker][yr]['cash']

In [ ]:
df1 = clean_master_data[ticker][yr]['cash']['table']
find_line_items(df1, heading_lookup, line_item_lookup, 'cash')

In [ ]:
cash_summary[ticker][yr]

In [ ]:
find_duplicates(cash_summary[ticker][yr])

### Build Statements

In [67]:
#master_statements = extract_statements('cash',cash_summary)

In [64]:
#master_statements['AAPL']

In [116]:
key_list = list(cash_summary.keys())
i = random.randint(0,len(key_list))
ticker=key_list[i]
print(ticker)
master_statements[ticker]

BBY

,2023-1,2022-1,2021-1,2020-2,2019-2,2018-2,2017-1,2015-1,2014-2,2012-3,2011-2,2010-2,($)-2,($)-2,($)-2,($)-2,($)-1,($)-1,($)-1,($)-1,($)-1,($)-1,($)-1,($)-1,($)-1,type,line_type
Operating Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CFO,H
Stock-Based Compensation,138,141,135,143,123,129,108,87,90,120,121,118,129,90,129,90,104,108,87,104,108,87,104,108,87,SC,L
Total Cash Provided By Operating Activities,1824,3252,4927,2565,2408,2141,2557,1935,1094,3293,NaN,NaN,2141,1094,2141,1094,1343,2557,1935,1343,2557,1935,1343,2557,1935,NCO,L
Investing Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CFI,H
"Additions To Property And Equipment, Net Of 35, 46 And 32, Respectively, Of Non-Cash Capital Expenditures",-930,-737,-713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CE,L
Total Cash Used In Investing Activities,-962,-1372,-788,-895,NaN,NaN,NaN,-1712,-517,-724,NaN,NaN,-1002,-517,-1002,-517,-526,-877,-1712,-526,-877,-1712,-526,-877,-1712,NCI,L
Financing Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CFF,H
Repurchase Of Common Stock,-1014,-3502,-312,-1003,-1505,-2004,-698,0,0,-1500,-1193,0,-2004,0,-2004,0,-1000,-698,0,-1000,-698,0,-1000,-698,0,SBB,L
Total Cash Used In Financing Activities,-1806,-4297,-876,-1498,-2018,-2297,-1418,NaN,NaN,NaN,NaN,NaN,-2297,NaN,-2297,NaN,-1536,-1418,-223,-1536,-1418,-223,-1536,-1418,-223,NCF,L

In [117]:
master_data[ticker]['16']['cash']

                                                                                                 CONSOLIDATED STATEMENTS OF CASH FLOWS  $ in Millions  \
                                                                                                 CONSOLIDATED STATEMENTS OF CASH FLOWS  $ in Millions
0                                                                                                                                OPERATING ACTIVITIES
1                                                                                                     Net earnings including noncontrolling interests
2                                                         Adjustments to reconcile net earnings (loss) to total cash provided by operating activities
3                                                                                                                                        Depreciation
4                                                                                                    Amortization of definite-lived intangible assets
5                                                                                                                               Restructuring charges
6                                                                                                                     (Gain) Loss on sale of business
7                                                                                                                            Stock-based compensation
8                                                                                                                               Deferred income taxes
9                                                                                                                                          Other, net
10                                                                                                       Changes in operating assets and liabilities:
11                                                                                                                                        Receivables
12                                                                                                                            Merchandise inventories
13                                                                                                                                       Other assets
14                                                                                                                                   Accounts payable
15                                                                                                                                  Other liabilities
16                                                                                                                                       Income taxes
17                                                                                                        Total cash provided by operating activities
18                                                                                                                               INVESTING ACTIVITIES
19                                                      Additions to property and equipment, net of $92, $14 and $13 of non-cash capital expenditures
20                                                                                                                           Purchases of investments
21                                                                                                                               Sales of investments
22                                                                                            Proceeds from sale of business, net of cash transferred
23                                                                                                                        Change in restricted assets
24                                                                                                                                         Other, net
25                                                                                                            Total cash used in investing activities
26                                                                                                                               FINANCING ACTIVITIES
27                                                                                                                         Repurchase of common stock
28                                                                                                            Payments for Repurchase of Other Equity
29                                                                                                                           Issuance of common stock
30                                                                                                                                     Dividends paid
31                                                                                                                                 Repayments of debt
32                                                                                                                     Proceeds from issuance of debt
33                                                                                                                                         Other, net
34                                                                                              Total cash provided by (used in) financing activities
35                                                                                                            Effect of Exchange Rate Changes on Cash
36                                                                                                   Increase (Decrease) in Cash and Cash Equivalents
37                                                                                                     Cash and Cash Equivalents at Beginning of Year
38                                                                                    Cash and Cash Equivalents Held-for-sale, at Beginning of Period
39                                                                                                           Cash and Cash Equivalents at End of Year
40                                                                                          Cash and Cash Equivalents Held-for-sale, at End of Period
41                                                                                Cash and Cash Equivalents at End of Period, Excluding Held for Sale
42                                                                                                   Supplemental Disclosure of Cash Flow Information
43                                                                                                                                  Income taxes paid
44                                                                                                                                      Interest paid
45                                                                                                                                                NaN
46  [1] For fiscal 2015 and 2014, the International segment amounts for assets, capital expenditures and depreciation include amounts from Five Star.

                                                                                                                                      12 Months Ended  \
                                                                                                                                Jan. 30, 2016 USD ($)
0                                                                                                                                                 NaN
1                                                                                                                                               $ 897
2                                                                                                                                                 NaN
3                                                                                                                                                 657
4                                                                                                                                                   0
5                                                                                                                                                 201
6                                                                                                                                                (99)
7                                                                                                                                                 104
8                                                                                                                                                  49
9                                                                                                                                                  38
10                                                                                                                                                NaN
11                                                                                                                                                123
12                                                                                                                                                 86
13                                                                                                                                                 36
14                                                                                                                                              (536)
15                                                                                                                                              (140)
16                                                                                                                                               (94)
17                                                                                                                                               1322
18                                                                                                                                                NaN
19                                                                                                                                              (649)
20                                                                                                                                            (2,281)
21                                                                                                                                               2427
22                                                                                                                                                103
23                                                                                                                                               (47)
24                                                                                                                                                 28
25                                                                                                                                              (419)
26                                                                                                                                                NaN
27                                                                                                                                            (1,000)
28                                                                                                                                               (55)
29                                                                                                                                                 47
30                                                                                                                                              (499)
31                                                                                                                                               (28)
32                                                                                                                                                  0
33                                                                                                                                                 20
34                                                                                                                                            (1,515)
35                                                                                                                                               (38)
36                                                                                                                                              (650)
37                                                                                                                                               2432
38                                                                                                                                                194
39                                                                                                                                               1976
40                                                                                                                                                  0
41                                                                                                                                               1976
42                                                                                                                                                NaN
43                                                                                                                                                550
44                                                                                                                                               $ 77
45                                                                                                                                                NaN
46  [1] For fiscal 2015 and 2014, the International segment amounts for assets, capital expenditures and depreciation include amounts from Five Star.

                                                                                                                                                       \
                                                                                                                              Jan. 30, 2016 USD ($).1
0                                                                                                                                                 NaN
1                                                                                                                                                 NaN
2                                                                                                                                                 NaN
3                                                                                                                                                 NaN
4                                                                                                                                                 NaN
5                                                                                                                                                 NaN
6                                                                                                                                                 NaN
7                                                                                                                                                 NaN
8                                                                                                                                                 NaN
9                                                                                                                                                 NaN
10                                                                                                                                                NaN
11                                                                                                                                                NaN
12                                                                                                                                                NaN
13                                                                                                                                                NaN
14                                                                                                                                                NaN
15                                                                                                                                                NaN
16                                                                                                                                                NaN
17                                                                                                                                                NaN
18                                                                                                                                                NaN
19                                                                                                                                                [1]
20                                                                                                                                                NaN
21                                                                                                                                                NaN
22                                                                                                                                                NaN
23                                                                                                                                                NaN
24                                                                                                                                                NaN
25                                                                                                                                                NaN
26                                                                                                                                                NaN
27                                                                                                                                                NaN
28                                                                                                                                                NaN
29                                                                                                                                                NaN
30                                                                                                                                                NaN
31                                                                                                                                                NaN
32                                                                                                                                                NaN

In [119]:
clean_master_data[ticker]['16']['cash']['table']

,"Jan. 30, 2016 USD ($)","Jan. 31, 2015 USD ($)","Feb. 01, 2014 USD ($)"
line_item,,,
Operating Activities,NaN,NaN,NaN
Net Earnings Including Noncontrolling Interests,897,1235,523
Adjustments To Reconcile Net Earnings Loss To Total Cash Provided By Operating Activities,NaN,NaN,NaN
Depreciation,657,656,701
Amortization Of Definite-Lived Intangible Assets,0,0,15
Restructuring Charges,201,23,259
-Gain Loss On Sale Of Business,-99,-1,143
Stock-Based Compensation,104,87,90
Deferred Income Taxes,49,-297,-28
"Other, Net",38,8,62
Changes In Operating Assets And Liabilities:,NaN,NaN,NaN
Receivables,123,-19,7
Merchandise Inventories,86,-141,597
Other Assets,36,29,-70
Accounts Payable,-536,434,-986
Other Liabilities,-140,-164,-273
Income Taxes,-94,85,54
Total Cash Provided By Operating Activities,1322,1935,1094
Investing Activities,NaN,NaN,NaN
"Additions To Property And Equipment, Net Of 92, 14 And 13 Of Non-Cash Capital Expenditures",-649,-561,-547
Purchases Of Investments,-2281,-2804,-230
Sales Of Investments,2427,1580,50
"Proceeds From Sale Of Business, Net Of Cash Transferred",103,39,206
Change In Restricted Assets,-47,29,5
"Other, Net",28,5,-1
Total Cash Used In Investing Activities,-419,-1712,-517
Financing Activities,NaN,NaN,NaN
Repurchase Of Common Stock,-1000,0,0
Payments For Repurchase Of Other Equity,-55,NaN,NaN
Issuance Of Common Stock,47,50,171
Divdends Paid,-499,-251,-233
Repayments Of Debt,-28,-24,-2033
Proceeds From Issuance Of Debt,0,0,2414
"Other, Net",20,2,0
Total Cash Provided By Used In Financing Activities,-1515,-223,319
Effect Of Exchange Rate Changes On Cash,-38,-52,-44
Increase Decrease In Cash And Cash Equivalents,-650,-52,852
Total Cash and Cash Equivalent At Begining Of Period,2432,2678,1826
"Cash And Cash Equivalents Held-For-Sale, At Beginning Of Period",194,0,NaN
Cash and Cash Equivalent At End Of Year,1976,2626,2678
Cash and Cash Equivalent At End Of Year,0,-194,NaN
"Cash And Cash Equivalents At End Of Period, Excluding Held For Sale",1976,2432,2678
Supplemental Disclosure Of Cash Flow Information,NaN,NaN,NaN
Income Taxes Paid,550,355,332
Interest Paid,77,81,82
Nan,NaN,NaN,NaN