In [1]:
import numpy as np
import pandas as pd
import time
import os
import pickle
import re

In [33]:
pd.set_option('display.max_rows', 700)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 200)
pd.options.display.float_format = '{:.2f}'.format

In [3]:
DATA_ROOT_PATH="/mnt/data/projects/MD1/data/R1000/reports/"
PROJ_ROOT_PATH="/home/priyesh/projects/MD1"

In [4]:
# Read from Pickle file

filepath = os.path.join(PROJ_ROOT_PATH,'pickle','clean_master_data_interim.pkl')
clean_master_data = pd.read_pickle(filepath)

In [5]:
def get_line_items(t):
 
  headings = []
  line_items = []
    
  for index, row in t.iterrows():
    
    if row.replace('', np.nan).isna().all():
      # Blank row, so assume heading
    
      headings.append(index)
    else:    
      line_items.append(index)

  return headings, line_items

In [6]:
def get_table_labels(stype):

  master_headings = []
  master_line_items = []

  ticker_list = list(clean_master_data.keys())

  for ticker in ticker_list:
    
    print(ticker)
    
    for yr in clean_master_data[ticker]:
      
      # Allow for the likelihood that statement might be missing for given ticker and yr
        
      if stype in clean_master_data[ticker][yr]:
        try:
          headings, line_items = get_line_items(clean_master_data[ticker][yr][stype]['table'])
    
          master_headings = master_headings + headings
          master_line_items = master_line_items + line_items
        except:
          print("Error : {} {}".format(ticker, yr))
          exit() 

  # Remove duplicates from headings and line items

  unique_list = set(master_headings)
  headings = list(unique_list)

  unique_list = set(master_line_items)
  line_items = list(unique_list)

  return {'headings' : headings,
          'line_items' : line_items}

In [7]:
table_labels = get_table_labels('income')

AAL
AAP
AAPL
ABBV
ABT
ACGL
ACHC
ACM
ACN
ADBE
ADI
ADM
ADP
ADSK
AEE
AEP
AES
AFG
AFL
AGCO
AGNC
AGO
AGR
AIG
AIZ
AJG
AKAM
AL
ALB
ALGN
ALK
ALL
ALLE
ALLY
ALNY
ALSN
AMAT
AMC
AMD
AME
AMED
AMG
AMGN
AMH
AMP
AMT
AMZN
AN
ANET
ANSS
AON
AOS
APD
APH
APTV
AR
ARE
ARES
ARMK
ARW
ATO
ATR
ATVI
AVB
AVT
AWI
AWK
AXS
AXTA
AYI
AZO
BA
BAC
BAH
BALL
BAX
BBY
BC
BDX
BEN
BERY
BFAM
BG
BIIB
BIO
BK
BKI
BKNG
BLD
BLDR
BLK
BMRN
BMY
BOKF
BR
BRKR
BRO
BRX
BSX
BURL
BWA
BWXT
BX
BXP
BYD
C
CABO
CACC
CACI
CAG
CAH
CAR
CASY
CAT
CB
CBOE
CBRE
CBSH
CC
CCI
CCK
CCL
CDNS
CDW
CE
CF
CFG
CFR
CG
CGNX
CHD
CHDN
CHE
CHH
CHK
CHRW
CHTR
CIEN
CINF
CL
CLH
CLX
CMA
CMCSA
CME
CMG
CMI
CMS
CNA
CNC
CNP
COF
COLB
COLM
COO
COST
COTY
CPB
CPRI
CPRT
CPT
CR
CRI
CRL
CRUS
CSCO
CSGP
CSL
CSX
CTAS
CTLT
CTSH
CUBE
CUZ
CVS
CVX
CW
D
DAL
DAR
DCI
DECK
DEI
DFS
DG
DGX
DHI
DHR
DISH
DKS
DLB
DLR
DLTR
DOV
DPZ
DRI
DTE
DUK
DVA
DVN
DXCM
EA
EBAY
ECL
ED
EEFT
EFX
EGP
EHC
EIX
EL
ELS
EMN
EMR
ENPH
ENTG
EOG
EPAM
EPR
EQIX
EQR
EQT
ERIE
ES
ESI
ESS
ETN
ETR
EVA
EVR
EW
EWBC
EXAS
EXC
EXEL
EXP
EXPD
EXPE
EXR
F
FAF
FANG
FAST
FCN
FCNCA
FCX
FDS
FDX
FE
FFIV
FHN
FICO
FIS
FISV
FITB
FIVE
FIVN
FLO
FLS
FLT
FMC
FNB
FNF
FR
FRPT
FRT
FSLR
FTNT
FWONA
FWONK
G
GD
GDDY
GE
GGG
GILD
GIS
GL
GLPI
GLW
GM
GME
GMED
GNRC
GNTX
GOOG
GOOGL
GPC
GPK
GPN
GPS
GRMN
GS
GWRE
GWW
H
HAL
HAS
HBAN
HBI
HCA
HD
HE
HEI
HES
HHC
HIG
HII
HIW
HLT
HOG
HOLX
HON
HPE
HPP
HPQ
HRB
HRL
HSIC
HST
HSY
HUBB
HUBS
HUM
HUN
HWM
HXL
HZNP
IART
IBKR
IBM
ICE
ICUI
IDA
IDXX
IEX
IFF
ILMN
INCY
INGR
INTC
INTU
IONS
IP
IPG
IPGP
IQV
IRM
ISRG
IT
ITT
ITW
IVZ
J
JAZZ
JBHT
JBL
JBLU
JCI
JEF
JKHY
JLL
JNJ
JNPR
JPM
JWN
K
KBR
KDP
KEX
KEY
KEYS
KHC
KIM
KKR
KLAC
KMB
KMI
KMPR
KMX
KNX
KO
KR
KRC
KSS
L
LAD
LAMR
LAZ
LBRDA
LBRDK
LDOS
LEA
LECO
LEG
LEN
LFUS
LH
LHX
LII
LITE
LKQ
LLY
LMT
LNC
LNG
LNT
LOPE
LOW
LPLA
LPX
LRCX
LSCC
LSI
LSTR
LSXMA
LSXMK
LULU
LUV
LVS
LYB
LYV
M
MA
MAA
MAN
MANH
MAR
MAS
MASI
MAT
MCD
MCHP
MCK
MCO
MDLZ
MDT
MDU
MET
MGM
MHK
MIDD
MKC
MKL
MKSI
MKTX
MLM
MMC
MMM
MNST
MO
MOH
MORN
MOS
MPC
MPW
MPWR
MRCY
MRK
MRO
MRTX
MS
MSA
MSCI
MSFT
MSI
MSM
MTB
MTCH
MTD
MTG
MTN
MTZ
MU
NATI
NBIX
NCLH
NCR
NDAQ
NDSN
NEE
NEM
NEU
NEWR
NFG
NFLX
NI
NKE
NLY
NNN
NOC
NOV
NOW
NRG
NSA
NSC
NTAP
NTRA
NTRS
NUE
NVAX
NVDA
NVR
NWL
NWS
NWSA
NXST
NYCB
NYT
O
OC
ODFL
OGE
OHI
OKE
OLED
OLLI
OLN
OMC
OMF
ON
ORCL
ORI
ORLY
OSK
OXY
PACW
PAG
PANW
PAYC
PAYX
PB
PCAR
PCG
PCTY
PDCE
PEAK
PEG
PEGA
PEN
PENN
PEP
PFE
PFG
PG
PGR
PH
PHM
PII
PINC
PKG
PKI
PLD
PLNT
PLUG
PM
PNC
PNFP
PNR
PNW
PODD
POOL
POST
PPC
PPG
PPL
PRGO
PRI
PRU
PSA
PSTG
PSX
PTC
PVH
PWR
PXD
PYPL
QCOM
QRVO
RARE
RE
REG
REGN
REXR
RF
RGA
RGEN
RH
RJF
RL
RMD
RNG
RNR
RRC
RS
RSG
RTX
RUN
RYN
SAM
SBUX
SCCO
SCHW
SCI
SEB
SEE
SEIC
SF
SGEN
SHW
SIRI
SIX
SJM
SKX
SLB
SLG
SLGN
SMG
SNA
SNPS
SNV
SNX
SO
SON
SPB
SPG
SPLK
SPR
SQ
SRC
SRCL
SRE
SSNC
ST
STLD
STT
STWD
STZ
SUI
SWK
SWKS
SWN
SYF
SYK
SYNH
SYY
T
TAP
TDC
TDG
TDOC
TDY
TECH
TER
TFC
TFSL
TFX
TGT
THC
THG
THO
TJX
TKR
TMO
TMUS
TNDM
TOL
TPR
TPX
TREX
TRGP
TRIP
TRMB
TROW
TRU
TRV
TSCO
TSLA
TSN
TT
TTC
TTEK
TTWO
TXN
TXT
TYL
UA
UAA
UAL
UDR
UGI
UHAL
UHS
UI
ULTA
UNH
UNM
UNP
UNVR
UPS
URI
USB
UTHR
V
VAC
VEEV
VFC
VIRT
VLO
VMC
VMI
VMW
VNO
VOYA
VRSK
VRSN
VRTX
VSAT
VTR
VZ
W
WAB
WAL
WAT
WBA
WBS
WCC
WDAY
WDC
WEC
WELL
WEN
WEX
WFC
WHR
WLK
WM
WMB
WMT
WPC
WRB
WSC
WSM
WSO
WST
WTFC
WTM
WTRG
WU
WWD
WWE
WY
WYNN
X
XEL
XOM
XPO
XRAY
XYL
YUM
Z
ZBRA
ZG

In [8]:
all_table_labels = table_labels['headings'] + table_labels['line_items']
df = pd.DataFrame(all_table_labels,columns=['line_item'])

### Net Sales

In [9]:
mask = df['line_item'].str.contains(r"^Net Sales",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Related Part",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Passenger|Hardware|Software|Excl|Less",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Service|Estate|Customer|Cons|Gross",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Multi|Fee|Interest|Dividend|Oper",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Cloud|Subs|Maint|Util|Lease|Prod",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Insur|Rent|Office|Home|Comm|non",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Automotive|Cost|Property|Broker|Ext",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Deferred|Recur|Member|Gas",case=True, regex=True, na=False)
         
df[mask].reset_index()

   index                                            line_item
0   1114                                           Net Sales:
1   3738                                Net Sales And Revenue
2   4079                                            Net Sales
3   8501                                            Net Sales
4   9393                                       Net Sales Note
5  16277                               Net Sales And Revenues
6  20641  Net Sales Including Special Charges Of 29.6 In 2011

In [10]:
mask = df['line_item'].str.contains(r"^Net Sales",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Related Part",case=True, regex=True, na=False) & \
          df['line_item'].str.contains(r"Including",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Passenger|Hardware|Software|Excl|Less",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Service|Estate|Customer|Cons|Gross",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Multi|Fee|Interest|Dividend|Oper",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Cloud|Subs|Maint|Util|Lease|Prod",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Insur|Rent|Office|Home|Comm|non",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Automotive|Cost|Property|Broker|Ext",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Deferred|Recur|Member|Gas",case=True, regex=True, na=False)
         
df[mask].reset_index()

,index,line_item
0,9423,"Net Sales Including Sales To Related Parties Of 23.5 Million, 68.8 Million And 43.5 Million, In ..."
1,11339,"Net Sales Including Sales To Related Parties, See Note 17"
2,16592,"Net Sales Including Sales To Related Parties, See Note 18"
3,18034,Net Sales Including Related Party Sales Of 68.8 Million In 2011 And 43.5 Million In 2010
4,20519,"Net Sales Including Sales To Related Parties, See Note 16"

### Revenue

In [11]:
mask = df['line_item'].str.contains(r"Revenues",case=True, regex=True, na=False) & \
          df['line_item'].str.contains(r"Including",case=True, regex=True, na=False) & \
          df['line_item'].str.contains(r"Related Parties",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other",case=True, regex=True, na=False) 

df[mask].reset_index()

,index,line_item
0,5371,"Revenues Including Amounts From Related Parties Of 0, 13,882 And 49,788, Respectively"
1,12285,"Revenues Including Amounts From Related Parties Of 13,882, In 2011, Note 19"
2,14874,"Revenues Including Excise Taxes Includes 8,269 In 2022, 7,822 In 2021 And 7,572 In 2020 From Rel..."
3,15747,"Revenues Including Amounts From Related Parties Of 13,882, 49,788 And 60,192 For The Years Ended..."

### Total Revenue

In [12]:
mask = df['line_item'].str.contains(r"Revenue",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Total",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Passenger|Hardware|Software|Excl|Less",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Service|Estate|Customer|Cons|Gross",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Multi|Fee|Interest|Dividend|Oper",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Cloud|Subs|Maint|Util|Lease|Net",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Insur|Rent|Office|Home|Comm|non",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Automotive|Cost|Property|Broker|Sales",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Deferred|Recur|Member|Gas",case=True, regex=True, na=False)
         
df[mask].reset_index()

   index            line_item
0    213       Total Revenues
1   1110        Total Revenue
2   8980       Total Revenues
3   9058  Total Revenues Note
4  17504   Total Revenue Note
5  17725      Revenues, Total
6  18898        Total Revenue
7  21502       Revenue, Total

### Total Net Revenue

In [13]:
mask = df['line_item'].str.contains(r"Revenue",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Total",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Net",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Passenger|Hardware|Software|Excl|Less",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Service|Estate|Customer|Cons|Gross",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Multi|Fee|Interest|Dividend|Oper",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Cloud|Subs|Maint|Util|Lease|Sales",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Insur|Rent|Office|Home|Comm|non",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Automotive|Cost|Property|Broker",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Deferred|Recur|Member|Gas",case=True, regex=True, na=False)
         
df[mask].reset_index()

   index               line_item
0   7522  Total Net Revenue Loss
1  10474     Total Revenues, Net
2  15110       Total Net Revenue
3  16020      Total Revenue, Net
4  22095      Total Net Revenues

In [14]:
mask = df['line_item'].str.contains(r"Revenue",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Total",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Net",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Sales",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Passenger|Hardware|Software|Excl|Less",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Service|Estate|Customer|Cons|Gross",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Multi|Fee|Interest|Dividend|Oper",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Cloud|Subs|Maint|Util|Lease",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Insur|Rent|Office|Home|Comm|non",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Automotive|Cost|Property|Broker",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Deferred|Recur|Member|Gas",case=True, regex=True, na=False)
         
df[mask].reset_index()

   index                         line_item
0  10186       Total Net Sales And Revenue
1  19976  Total Net Sales And Revenue Note

In [15]:
mask = df['line_item'].str.contains(r"Revenue",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Net",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Includes",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Total",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Passenger|Hardware|Software|Excl|Less",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Service|Estate|Customer|Cons|Gross",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Multi|Fee|Interest|Dividend|Oper",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Cloud|Subs|Maint|Util|Lease",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Insur|Rent|Office|Home|Comm|non",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Automotive|Cost|Property|Broker",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Deferred|Recur|Member|Gas",case=True, regex=True, na=False)
         
df[mask].reset_index()

,index,line_item
0,11209,"Net Revenues Includes 3,658 In 2022, 3,330 In 2021 And 3,233 In 2020 From Related Parties"

### Total Operating Revenue

In [16]:
mask = df['line_item'].str.contains(r"Revenue",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Total",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Oper",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Passenger|Hardware|Software|Excl|Less",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Multi|Fee|Interest|Dividend|Non",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Automotive|Cost|Property|Broker",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Deferred|Recur|Member|Gas|Util",case=True, regex=True, na=False)
         
df[mask].reset_index()

   index                 line_item
0   2332  Total Operating Revenues
1  12868   Total Operating Revenue
2  15694  Total Operating Revenues

### Total Cost of Revenue

In [17]:
mask = df['line_item'].str.contains(r"Revenue",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Total",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Cost",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Passenger|Hardware|Software",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Excl|Recurr",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Service|Estate|Customer",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Multi|Fee|Interest|Dividend",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Cloud|Subs|Maint|Util|Lease",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Insur|Rent|Office|Home|Comm|non",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Automotive|Property|Broker",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Deferred",case=False, regex=True, na=False)
         
df[mask].reset_index()

   index                line_item
0   8643    Total Cost Of Revenue
1  10950   Total Cost Of Revenues
2  12650   Total Costs Of Revenue
3  16508  Total Costs Of Revenues

### Cost of Revenue

In [18]:
mask = df['line_item'].str.contains(r"Revenue",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"^Cost",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Total|Dep|Prod|Lic|Sup|Con|Bio",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Party|Related|Less|Rest|Land",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Passenger|Hardware|Software",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Service|Estate|Customer|Form",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Royal|Coal|Excl|Sales|Net",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Multi|Fee|Interest|Dividend",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Cloud|Subs|Maint|Util|Lease|Reimb",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Insur|Rent|Office|Home|Comm|non",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Automotive|Property|Broker",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Deferred|Member|Abstract",case=False, regex=True, na=False)
         
df[mask].reset_index()

    index           line_item
0    1477     Cost Of Revenue
1    1657   Cost Of Revenues:
2    2036  Costs Of Revenues:
3    2050    Cost Of Revenue:
4    2551    Cost Of Revenues
5    2697   Costs Of Revenue:
6    5783     Cost Of Revenue
7   10544   Cost Of Revenues:
8   15910    Cost Of Revenues
9   18094    Cost Of Revenue.
10  19869    Cost Of Revenue:
11  20897    Costs Of Revenue
12  21108   Costs Of Revenues

In [19]:
mask = df['line_item'].str.contains(r"Revenue",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"^Cost",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Including",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Amort",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Impair",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Definite",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Deferred|Member|Abstract",case=True, regex=True, na=False)
         
df[mask].reset_index()

,index,line_item
0,6507,"Cost Of Revenues Including Amortization And Impairments Of Feature Film Production Assets Of 39,..."
1,9079,Cost Of Revenues Including Amortization And Impairments Of Feature Film And Television Productio...
2,13303,"Cost Of Revenues Including Amortization And Impairments Of Feature Film Production Assets Of 8,7..."

In [20]:
mask = df['line_item'].str.contains(r"Revenue",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"^Cost",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Excluding|Exclusive",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Amort",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Definite|Dep|Intang",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Deferred|Member|Abstract",case=True, regex=True, na=False)
         
df[mask].reset_index()

   index                                               line_item
0   1220              Cost Of Revenue Exclusive Of Amortization:
1   2009               Cost Of Revenue Exclusive Of Amortization
2  12002  Cost Of Revenues Exclusive Of Amortization Shown Below
3  15358               Cost Of Revenue Exclusive Of Amortization
4  18229   Cost Of Revenue Exclusive Of Amortization Shown Below

In [21]:
mask = df['line_item'].str.contains(r"Revenue",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"^Cost",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Excluding|Exclusive",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Amort",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Depr",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Definite|Intang",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Deferred|Member|Abstract",case=True, regex=True, na=False)
         
df[mask].reset_index()

,index,line_item
0,5600,"Costs Of Revenue, Excluding Depreciation And Amortization"
1,5929,Cost Of Revenue Exclusive Of Depreciation And Amortization Shown Separately Below
2,7773,Cost Of Revenues Exclusive Of Depreciation And Amortization
3,10737,"Cost Of Revenue Exclusive Of Depreciation And Amortization, Which Is Shown Separately Below"
4,11219,Cost Of Revenues Exclusive Of Depreciation And Amortization Expense Shown Separately Below
5,12032,Cost Of Revenue Exclusive Of Depreciation And Amortization As Shown Separately Below
6,14703,Cost Of Revenue Excluding Depreciation And Amortization
7,16995,"Costs Of Revenue, Exclusive Of Depreciation And Amortization"
8,21226,"Cost Of Revenues, Exclusive Of Depreciation And Amortization"

In [22]:
mask = df['line_item'].str.contains(r"Cost Of Sales",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Total",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Part|Serv|Prod|Unit|Comm|^Dep",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Software|Chem|Mids|Auto",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Excl|Incl|Res|Rev|Online|Fuel",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Occ|Member|Ext|Energy|Type",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Man|Oper|Sub|Food|Bev",case=False, regex=True, na=False)
         
df[mask].reset_index()

   index        line_item
0   1581   Cost Of Sales:
1   4301    Cost Of Sales
2  11913  Cost Of Sales-A
3  17679    Cost Of Sales
4  18124  Cost Of Sales A

In [23]:
mask = df['line_item'].str.contains(r"Cost Of Sales",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Excl",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Dep",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Total",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Part|Serv|Prod|Unit|Comm|^Dep",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Software|Chem|Mids|Auto",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Res|Rev|Online|Fuel",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Occ|Member|Ext|Energy|Type",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Other|Man|Oper|Sub|Food|Bev",case=False, regex=True, na=False)
         
df[mask].reset_index()

,index,line_item
0,1180,Cost Of Sales Excluding Depreciation Shown Below:
1,5837,Cost Of Sales Excluding Depreciation And Amortization Expense Shown Separately Below
2,5996,"Cost Of Sales Excludes Depreciation, Depletion And Amortization Of 3,584 In 2011, 3,145 In 2010 ..."
3,6584,"Cost Of Sales Excludes Depreciation, Depletion, And Amortization Of 4,000 In 2017, 4,266 In 2016..."
4,6878,"Cost Of Sales, Exclusive Of Depreciation And Amortization"
5,8041,"Cost Of Sales Excludes Depreciation, Depletion And Amortization Of 5,341 In 2013, 4,504 In 2012 ..."
6,8198,Cost Of Sales Exclusive Of Depreciation Shown Below
7,13451,"Cost Of Sales, Excluding Depreciation"
8,13697,Cost Of Sales Excluding Depreciation Shown Below
9,14137,"Cost Of Sales Excludes Depreciation, Depletion, And Amortization Of 3,976 In 2018, 4,000 In 2017..."
10,14936,"Cost Of Sales Exclusive Of Depreciation, Amortization And Depletion Shown Separately Below"
11,14970,"Cost Of Sales Excludes Depreciation, Depletion, And Amortization Of 4,540 In 2015, 4,257 In 2014..."
12,17233,Cost Of Sales Excluding Depreciation And Amortization
13,18326,"Cost Of Sales Excludes Depreciation, Depletion And Amortization Of 4,504 In 2012, 3,584 In 2011 ..."
14,18731,Cost Of Sales Exclusive Of Depreciation And Amortization Shown Below
15,19620,"Cost Of Sales Excludes Depreciation, Depletion, And Amortization Of 4,266 In 2016, 4,540 In 2015..."
16,20388,Cost Of Sales Excluding Depreciation And Amortization Shown Below

### Total Cost of Revenue

In [25]:
mask = df['line_item'].str.contains(r"Cost Of Sales",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Total",case=False, regex=True, na=False) & \
         ~df['line_item'].str.contains(r"Veh|Other|Oper|Excl",case=True, regex=True, na=False)
df[mask].reset_index()

   index            line_item
0   3341  Total Cost Of Sales
1   7691  Total Cost Of Sales

In [26]:
mask = df['line_item'].str.contains(r"Cost Of Sales",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Total",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Excl",case=False, regex=True, na=False) & \
         ~df['line_item'].str.contains(r"Veh|Other|Oper",case=True, regex=True, na=False)
df[mask].reset_index()

,index,line_item
0,4715,"Total Cost Of Sales, Excluding Restaurant Depreciation And Amortization Of 295.6, 283.4, 267.1, ..."
1,10340,"Total Cost Of Sales, Excluding Restaurant Depreciation And Amortization Of 373.7, 326.9 And 295...."
2,12276,"Total Cost Of Sales, Excluding Restaurant Depreciation And Amortization Of 326.9, 295.6, 283.4, ..."
3,16370,Total Cost Of Sales Excluding Depreciation Shown Below
4,17560,"Total Cost Of Sales, Excluding Restaurant Depreciation And Amortization Of 282.3, 257.5 And 219...."

In [27]:
mask = df['line_item'].str.contains(r"Cost Of Revenue",case=True, regex=True, na=False) & \
          df['line_item'].str.contains(r"Total",case=True, regex=True, na=False) & \
          df['line_item'].str.contains(r"Excl",case=False, regex=True, na=False) & \
         ~df['line_item'].str.contains(r"Veh|Other|Oper|Non|Auto",case=True, regex=True, na=False)
df[mask].reset_index()

,index,line_item
0,5962,Total Cost Of Revenues Exclusive Of Amortization Shown Separately Below
1,16308,Total Cost Of Revenues Exclusive Of Acquired Intangible Assets Amortization Shown Separately Below

### Selling, General, Administrative Including Stock-Based Comp

In [28]:
mask = df['line_item'].str.contains(r"Selling",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"General",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Admin",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Including Stock",case=False, regex=True, na=False)
       
df[mask].reset_index()

,index,line_item
0,4858,"Selling, General, Administrative And Development Expense Including Stock-Based Compensation Expe..."
1,4959,"Selling, General, Administrative And Development Expense Including Stock-Based Compensation Expe..."
2,5332,"Selling, General And Administrative Expenses Including Stock-Based Compensation Of 13,274 In 201..."
3,6243,"Selling, General And Administrative Including Stock-Based Compensation And Excluding Depreciatio..."
4,7083,"Selling, General, Administrative And Development Expense Including Stock-Based Compensation Expe..."
5,7335,"Selling, General And Administrative Expenses Including Stock-Based Compensation Of 19,530 And 13..."
6,8345,"Selling, General And Administrative, Including Stock-Based Compensation And Transaction Costs No..."
7,8497,"Selling, General And Administrative Expenses Including Stock-Based Compensation Of 21,462, 19,53..."
8,9063,"Selling, General, Administrative And Development Expense Including Stock-Based Compensation Expe..."
9,12475,"Selling, General And Administrative Including Stock-Based Compensation Of 62,875 In 2012, 54,261..."
10,13371,"Selling, General And Administrative Including Stock-Based Compensation Of 54,261 In 2011, 18,668..."
11,14039,"Selling, General, Administrative And Development Expense Including Stock-Based Compensation Expe..."
12,15322,"Selling, General And Administrative Including Stock-Based Compensation Of 27,034, 62,875 And 54,..."
13,16788,"Selling, General And Administrative Expenses Including Stock-Based Compensation Of 7,673, 21,462..."
14,17629,"Selling, General, Administrative And Development Expense Including Stock-Based Compensation Expe..."
15,18242,"Selling, General, Administrative And Development Expense Including Stock-Based Compensation Expe..."
16,18741,"Selling, General And Administrative, Including Stock-Based Compensation And Transaction Costs"
17,20335,"Selling, General And Administrative, Including Stock-Based Compensation"
18,21538,"Selling, General, Administrative And Development Expense Including Stock-Based Compensation Expe..."

In [34]:
mask = df['line_item'].str.contains(r"Selling",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"General",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Admin",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Excluding",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Dep|Amort",case=False, regex=True, na=False) & \
         ~ df['line_item'].str.contains(r"Including",case=False, regex=True, na=False) 
         
df[mask].reset_index()

,index,line_item
0,4793,"Selling, General And Administrative Expenses, Excluding Depreciation And Amortization"
1,5167,"Selling, General, And Administrative Expenses, Excluding Depreciation And Amortization"
2,17710,"Selling, General And Administrative Expenses Excluding Depreciation And Amortization Expense Of 81,695, 75,211, And 56,011 Shown Separately Below"

In [36]:
mask = df['line_item'].str.contains(r"Selling",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"General",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Admin",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Excluding",case=False, regex=True, na=False) & \
         ~df['line_item'].str.contains(r"Dep|Amort",case=False, regex=True, na=False) & \
         ~df['line_item'].str.contains(r"Including",case=False, regex=True, na=False) 
         
df[mask].reset_index()

,index,line_item
0,7063,"Selling, General And Administrative Expenses, Excluding Impairment Losses"
1,10992,"Selling, General And Administrative Expenses, Excluding Goodwill Impairment"
2,11618,"Selling, General And Administrative Expenses, Excluding Receivable Impairment"
3,14919,"Selling, General And Administrative Expenses, Excluding Goodwill Impairment And Receivable Impairment"

### General And Administrative

In [9]:
mask = df['line_item'].str.contains(r"General And Administrative",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Incl",case=True, regex=True, na=False) & \
          df['line_item'].str.contains(r"Stock|Equity",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Dep|Selling|Excl|Member",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Party",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Asset|Total|Other|Home|Prop",case=True, regex=True, na=False) 
       
df[mask].reset_index()

,index,line_item
0,4084,"General And Administrative Including 73,517, 12,778 And 13,529 Of Equity-Based Compensation In 2..."
1,4340,"General And Administrative Including Equity-Based Compensation Expense Of 365,280, 112,252 And 9..."
2,5320,"General And Administrative Including Equity-Based Compensation Expense Of 23,317, 20,437 And 35,..."
3,5770,"General And Administrative Expenses Including Non-Cash Equity-Based Compensation, Net Of Capital..."
4,5844,"General And Administrative Including Equity-Based Compensation Expense Of 70,414, 23,559 And 23,..."
5,5891,"General And Administrative Including 250, 102 And 28 Of Non-Cash Stock-Based Compensation, Respe..."
6,6452,"General And Administrative Expenses Including Non-Cash Equity-Based Compensation, Net Of Capital..."
7,8964,"General And Administrative Including Equity-Based Compensation Expense Of 23,559, 23,317 And 20,..."
8,9163,"General And Administrative Including 448, 250 And 102 For The Years Ending December 31, 2012, 20..."
9,10701,"General And Administrative Including 12,778, 13,529 And 19,654 Of Equity-Based Compensation In 2..."
10,11221,"General And Administrative Including Equity-Based Compensation Expense Of 365,280 And 112,252 In..."
11,12085,"General And Administrative Including 365,280 Of Stock Compensation In 2013"
12,12257,"General And Administrative Including 35,111, 73,517 And 12,778 Of Equity-Based Compensation In 2..."
13,12877,"General And Administrative Including Equity-Based Compensation Expense Of 103,445, 70,414 And 23..."
14,14149,General And Administrative Including Equity-Based Compensation Expense
15,14165,"General And Administrative Including Equity-Based Compensation Expense Of 97,877, 102,421, And 1..."
16,14486,"General And Administrative Expenses Including Non-Cash Stock Based Compensation, Net Of Capitali..."
17,14763,"General And Administrative Expenses Including Non-Cash Equity-Based Compensation, Net Of Capital..."
18,14938,"General And Administrative Expenses Including Non-Cash Stock Based Compensation, Net Of Capitali..."
19,20433,"General And Administrative Including 34,933, 35,111 And 73,517 Of Equity-Based Compensation In 2..."

In [18]:
mask = df['line_item'].str.contains(r"General And Admin",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Excl",case=True, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Sell|Asset",case=True, regex=True, na=False) 
       
df[mask].reset_index()

,index,line_item
0,8295,General And Administrative Expenses Excluding Depreciation And Amortization Expense Reflected Below

### Selling, General And Admin

In [ ]:
mask = df['line_item'].str.contains(r"General",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Administrative",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Selling",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Including|Excluding",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"^Dep|Intangible|Amort",case=True, regex=True, na=False)
       
df[mask].reset_index()

In [ ]:
mask = df['line_item'].str.contains(r"General",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Administrative",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Sales",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"^Dep|Home|Percent|Intan",case=True, regex=True, na=False)
       
df[mask].reset_index()

## Operating Expenses

In [22]:
mask = df['line_item'].str.contains(r"Operat.*Expense",case=False, regex=True, na=False) & \
          df['line_item'].str.contains(r"Excl",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Asset|Segment|Item",case=True, regex=True, na=False)
       
df[mask].reset_index()

,index,line_item
0,5448,Operating Costs And Expenses Excluding Depreciation And Amortization
1,7242,"Direct Operating Expenses, Excluding Depreciation And Amortization"
2,8734,"Operating Expenses, Excluding Depreciation And Amortization Below"
3,11495,Direct Operating Expense Exclusive Of Depreciation And Amortization
4,14250,Operating Expense Exclusive Of Depreciation And Amortization Shown Separately Below
5,15533,"Operating Expense, Excluding Depreciation And Amortization Below"
6,15580,Operating Expenses Exclusive Of Depreciation And Amortization
7,17692,Operating Expenses Excluding Depreciation And Amortization Shown Separately Below
8,19993,Operating Expenses Excluding Depreciation And Amortization Expense Reflected Below

In [27]:
mask = df['line_item'].str.contains(r"Operat.*Expense",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Incl|Excl",case=False, regex=True, na=False) & \
        ~ df['line_item'].str.contains(r"Asset|Segment|Item|In |Other",case=True, regex=True, na=False)
       
df[mask].reset_index()

,index,line_item
0,283,Operating Expense [Member]
1,326,Non-Operating Expense:
2,386,"Non-Operating Income Expense, Net:"
3,399,Cost And Operating Expenses:
4,448,Nonoperating Expenses:
5,488,Operating Expenses
6,524,Non-Operating Income And Expense
7,554,"Non-Operating Expense Income, Net"
8,590,Non-Operating Expenses Income:
9,600,Non-Operating Income Expense
10,767,Nonoperating Income Expense:
11,801,Nonoperating Expense Income
12,980,Non-Operating Expense
13,1058,Nonoperating Income Expense [Abstract]
14,1091,Acquisition And Operating Expenses:
15,1157,Costs And Operation Expenses:
16,1273,"Non-Operating Income Expense, Net"
17,1427,Operating Expenses And Charges:
18,1493,Operating Costs And Expenses
19,1653,Costs And Operating Expenses
20,1713,Railway Operating Expenses
21,1718,Total Operating Expenses
22,1733,Direct Operating Expenses:
23,1829,Nonoperating Expense Income:
24,1924,Non-Operating Income Expense:
25,2003,Non-Operating Income Expenses:
26,2062,Operating Expenses [Abstract]
27,2083,Operating Expense:
28,2093,Total Non-Operating Income And Expense
29,2117,"Operating Expenses, Net:"
30,2234,Operating Costs And Expenses [Abstract]
31,2267,Railway Operating Expenses:
32,2382,Nonoperating Income Expense
33,2401,Nonoperating Income Expenses:
34,2452,Operating Cost And Expenses:
35,2578,Operating Expenses And Income
36,2608,Costs And Operating Expenses:
37,2770,Cruise Operating Expense
38,2802,"Non-Operating Expenses, Net:"
39,2890,Utility Operating Expenses
40,2907,Operating Expense Income:
41,3028,Non-Operating Expenses:
42,3099,Non-Operating Expense Income:
43,3103,"Non-Operating Income Expenses, Net:"
44,3166,Costs And Operation Expenses: [Abstract]
45,3194,Operating Expenses:
46,3202,Operating Expense
47,3235,Non-Operating Income And Expenses:
48,3332,"Non-Operating Expense, Net:"
49,3374,Cost Of Sales And Operating Expenses:
50,3462,Non-Operating Expenses Income
51,3497,Operating Costs And Expenses:
52,3573,Non-Operating Expense Income
53,3733,Operating Expenses Income:
54,4069,"Interest And Non-Operating Income Expenses, Net"
55,4197,-Loss Income From Operations Before Income Tax Expense
56,4389,Resort Operating Expense
57,4642,Operating And Maintenance Expenses
58,4646,"-Loss Gain On Discontinued Operations, Net Of Related Tax Benefit Expense Of 320, 2,207 And 1,57..."
59,4818,"Loss From Operations Of Discontinued Businesses, Net Of Income Tax Expense Of 0, 2, And 21, Resp..."
60,5205,"Miscellaneous Operating Expenses, Net"
61,5405,Non-Operating Pension Expense
62,5418,Marketing And Midstream Operating Costs And Expenses
63,5458,"Net Gain Loss From Discontinued Operations, Net Of Tax Expense Benefit Of 3.6, 0.8 And 34.6"
64,5526,"Net Loss From Disposal And Impairments Of Discontinued Operations, Net Of Income Tax Expense Ben..."
65,5635,"Income From Continuing Operations, Non-Operating Pension And Postretirement Charges Income, Inte..."
66,5638,Costs And Operating Expenses
67,5691,Total Operating Expenses
68,5699,Income Loss From Continuing Operations Before Income Tax Expense
69,5717,"Gain From Discontinued Operations, Net Of 0 Tax Expense"
70,5742,Total Non-Operating Income Expense
71,5758,Operating Lease Expense
72,5822,Operating Interest Expense
73,5979,"Income Loss From Discontinued Operations, Net Of Income Tax Expense Benefit Of 0, 0 And"
74,6081,Loss From Operations Before Income Tax Expense
75,6250,"Income Loss From Discontinued Operations, Net Of Income Tax Benefit Expense Of 10, 39 And 0, Res..."
76,6375,"Income Loss From Operations Of Discontinued Businesses, Net Of Income Tax Expense Benefit Of 27,..."
77,6624,Income Loss From Continuing Operations Before Income Tax Expense Benefit
78,6921,"Loss From Operations Of Discontinued Businesses, Net Of Income Tax Expense Of 0, 0, And 2, Respe..."
79,7150,Total Non-Operating Expense Income
80,7212,"Interest And Non-Operating Expenses, Net"
81,7274,"Operating, Selling, General And Administrative Expenses"
82,7328,Income From Operations Before Income Tax Expense
83,7676,"Costs And Operating Expenses, Total"
84,7684,Operating And Administrative Expenses
85,7722,Costs Of Sales And Operating Expenses
86,7752,Total Nonoperating Income Expense
87,7831,Loss From Continuing Operations Before Income Tax Expense Benefit
88,8199,Direct Operating Expenses B
89,8245,Total Non-Operating Expenses Income
90,8362,"Selling, Acquisition, Operating And General Expenses"
91,8417,"Income Loss From Operations Of Discontinued Businesses, Net Of Income Tax Benefit Expense Of 9, ..."
92,8511,Operational Expenses
93,8532,Direct Operating Expense
94,8572,Operating Expenses
95,8696,Non-Operating Income Expense
96,8732,Total Operating Costs And Expenses
97,8776,"Net Loss From Discontinued Operations, Net Of Tax Expense Of , And 12.0"
98,8913,Nonoperating Expense Income
99,9029,"Income Loss From Operations Of Discontinued Businesses, Net Of Income Tax Benefit Expense Of 23,..."
100,9096,Non-Operating Expense
101,9187,Total Costs And Operating Expenses
102,9390,Total Cruise Operating Expense
103,9395,"Net Earnings Loss From Discontinued Operations, Net Of Income Tax Expense"
104,9478,Income Loss From Continuing Operations Before Income Tax Benefit Expense
105,9617,Operating Costs And Expenses
106,9715,"Total Nonoperating Expense, Net"
107,9743,Total Acquisition And Operating Expenses
108,9983,"Income Loss From Operations Of Discontinued Businesses, Net Of Income Tax Benefit Expense Of 2, ..."
109,9984,"Interest And Non-Operating Expenses Income, Net"
110,10253,"Net Gain Loss From Discontinued Operations, Net Of Tax Expense Benefit Of 8.2, 3.6 And 0.8"
111,10459,Total Operating Expense
112,10506,"Total Operating Costs And Expenses, Net"
113,10547,Income From Continuing Operations Before Income Tax Expense
114,10752,"Total Non-Operating Expenses, Net"
115,10916,Cost Of Sales And Operating Expenses
116,10966,"Income Loss From Operations Of Discontinued Businesses, Net Of Income Tax Expense Benefit Of 3, ..."
117,11202,Automobile Operating Lease Expense
118,11464,Total Non-Operating Expenses
119,11608,Lng Terminal Operating Expense
120,11743,"-Loss Income From Discontinued Operations, Net Of Tax Benefit Expense Of 0.4, 0.2, And 0.2, Resp..."
121,12334,"Gain Loss On Discontinued Operations, Net Of Related Tax Expense Benefit Of 2,208, 1,575 And 1,5..."
122,12477,Nonoperating Expense
123,12642,Total Non-Operating Expense
124,12668,"General, Administrative And Store Operating Expenses"
125,12682,Total Operating Expenses Net
126,12686,Operating Supplies And Expenses
127,12774,"Net Loss Gain From Discontinued Operations, Net Of Tax Expense Of 0.1, 17.8 And 13.9"
128,12840,Mountain And Lodging Operating Expense
129,12871,Total Utility Operating Expenses
130,13157,"Income Loss From Discontinued Operations, Net Of Income Tax Benefit Expense Of 9, 10 And 39, Res..."
131,13165,Non-Operating Pension Income Expense
132,13246,Lng Terminal And Pipeline Operating Expense
133,13293,Non-Operating Retirement Benefit Expense
134,13334,"Net Loss Earnings From Discontinued Operations, Net Of Tax Expense Of 12.0, 8.2 And 3.6"
135,13531,"Non-Operating Income Expense, Net"
136,13541,"Income From Discontinued Operations, Net Of Income Tax Expense"
137,13606,"Income Loss From Discontinued Operations, Net Of Income Tax Expense Benefit Of ,- And"
138,13716,Store Operating Expenses
139,13725,Operating Supplies And ExpensesNet
140,13984,Marketing And Midstream Operating Expenses
141,14031,Nonoperating Pension And Postretirement Benefit Income Expense
142,14052,"Total Non-Operating Expense, Net"
143,14144,Miscellaneous Operating Expenses
144,14152,"Income From Discontinued Operations Net Of Tax Expense Of 46, 104, And 81, Respectively"
145,14179,Lease Operating Expenses Related Party
146,14231,"Cost, Operating And Non-Operating Expenses"
147,14263,"Operating Leases, Income Statement, Depreciation Expense On Property Subject To Or Held-For-Lease"
148,14360,Total Operating Costs And Expenses Insurance
149,14574,"Utilities Operating Expense, Purchased Power"
150,14635,Nonoperating Income Expense
151,14749,"Income Loss From Operations Of Discontinued Businesses, Net Of Income Tax Expense Of 0, 23, And ..."
152,14805,"Total Non-Operating Expense Income, Net"
153,14851,Direct Operating Expenses
154,14883,"Loss From Continuing Operations, Before Income Tax Expense"
155,14985,Vessel Operating Expenses
156,15098,"Acquisition And Operating Expenses, Net Of Deferrals"
157,15196,Total Cost Of Sales And Operating Expenses
158,15273,Lease Operating Expenses
159,15320,Total Non-Operating Income And Expenses
160,15400,"Income Loss From Operations Of Discontinued Businesses, Net Of Income Tax Benefit Expense Of 21,..."
161,15497,Operating Expense
162,15615,Total Operating Expenses Net
163,15818,Net Nonoperating Expenses
164,15935,"-Loss Income From Discontinued Operations, Net Of Income Tax Benefit Expense"
165,16070,Total Non-Operating Income Expenses
166,16106,Earnings From Continuing Operations Before Interest Expense And Income Taxes
167,16150,"Earnings From Discontinued Operations, Net Of Income Tax Expense"
168,16299,Operating And Maintenance Expense
169,16394,"Nonoperating Income Expense, Total"
170,16615,"Total Non-Operating Income Expense, Net"
171,16645,"Operating Expenses, Total"
172,16740,-Loss Income From Continuing Operations Before Income Tax Expense Benefit
173,16792,Total Operating Cost And Expenses
174,16949,"Non-Operating Expense Income, Net"
175,16958,"Total Operating Costs, Expenses, Net"
176,16959,Earnings From Continuing Operations Before Income Tax Expense
177,16990,Nonoperating Income Expense Total
178,17078,"Income Loss From Discontinued Operations, Net Of Income Tax Expense Benefit Of , 0 And"
179,17104,"-Loss Gain On Discontinued Operations, Net Of Related Tax Benefit Expense Of 417, 801 And 2,191,..."
180,17130,Non-Operating Interest Expense
181,17180,"Utilities Operating Expense, Fuel Used"
182,17644,"Income Loss From Operations Of Discontinued Businesses, Net Of Income Tax Benefit Expense Of 24,..."
183,17938,"Net Gain Loss From Disposal And Impairments Of Discontinued Operations, Net Of Income Tax Benefi..."
184,17999,Cooperative Advertising Expense
185,18203,Total Railway Operating Expenses
186,18274,"Income Loss From Continuing Operations Before Interest Expense, Interest Income, Income Taxes, N..."
187,18404,"Total Operating Expenses, Net"
188,18432,"Net Loss Earnings From Discontinued Operations, Net Of Tax Expense Of , 12.0 And 8.2"
189,18460,"Non-Operating Expenses, Net"
190,18465,Total Non-Operating Income And Expense
191,18500,"Income From Discontinued Operations Net Of Tax Expense Of 0-, 46, And 104, Respectively"
192,18647,Oil And Gas Operating Expense
193,18771,Operating Expense Income
194,18799,"Operating Costs And Expenses, Total"
195,18801,Total Cost And Operating Expenses
196,18872,"Income Loss From Discontinued Operations, Net Of Income Tax Expense Benefit"
197,18931,"-Loss Income From Discontinued Operations, Net Of Tax Benefit Expense Of 131.5, 29.7 And 20.1, R..."
198,19004,"Income Loss From Discontinued Operations, Net Of Income Tax Expense"
199,19040,Operation And Maintenance Expense
200,19100,"-Loss Earnings From Discontinued Operations, Net Of Tax Benefit Expense"
201,19147,"Income From Sale Of Discontinued Operations, Net Of Income Tax Expense"
202,19303,Income From Continuing Operations Before Income Tax Expense Benefit
203,19413,"Nonoperating Income Expense, Net"
204,19655,"Nonoperating Expense Income, Total"
205,19976,Nonoperating Pension And Postretirement Benefit Expense Income
206,20004,Total Operating Expenses And Charges
207,20014,Non-Operating Expense Income
208,20059,Direct Operating Expenses For Gaming Entertainment

### Gross Profit

In [ ]:
mask = df['line_item'].str.contains(r"Gross Profit",case=False, regex=True, na=False) & \
         ~ df['line_item'].str.contains(r"Member|Per|Total",case=False, regex=True, na=False)
   
df[mask].reset_index()

In [28]:
mask = df['line_item'].str.contains(r"Gross Profit",case=False, regex=True, na=False) & \
           df['line_item'].str.contains(r"Total",case=False, regex=True, na=False) & \
         ~ df['line_item'].str.contains(r"Member|Per",case=False, regex=True, na=False)
   
df[mask].reset_index()

   index            line_item
0  12117   Total Gross Profit
1  19692  Gross Profit, Total

# Depreciation